{% extends "projects/base_projects.html" %} {% load static %} {% block content%}
{% include "modules/navbar.html" %}
<section class="projects-search">
    <div class="m-5 ">
        <div class="title d-flex justify-content-center">
            <div class="line">
                <p class="h1 font-weight-bold" id="inicio-banco-proyectos">
                    Banco de Proyectos
                </p>
            </div>
        </div>
        <nav aria-label="breadcrumb">
            <ol class=" breadcrumb ml-5 pl-3">
                <li class="breadcrumb-item">
                    <a href="{% url 'home_app:index' %}">Inicio</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    Banco de proyectos
                </li>
            </ol>
        </nav>
    </div>

    <!-- Barra de búsqueda -->
    <section class="m-5">
        <div class="text-center m-3 h-4 text-muted">
            Acceder al buscador de proyectos escribiendo palabra clave
        </div>
        <form class="search mx-auto" method="GET" id="search-form">
            {% csrf_token %}
            <input class="form-control" type="text" name="search_query" id="search_query" placeholder="Buscar proyecto"
                aria-label="Buscar proyectos" aria-describedby="searchAction" />
            <div class="search-action">
                <button class="btn btn-outline-search" id="searchAction" type="submit">
                    <i class="icon cl cl-search"></i>
                </button>
            </div>
        </form>
    </section>

    <section class="projects">
        <div class="container-projects">
            <div class="cols-12 row mx-0">
                <!-- Agrega el formulario de filtro -->
                <div class="col-4">
                    {% include "modules/browser.html" %}
                </div>

                <!-- Agrega bloque de proyectos -->
                <div class="col-8">
                    <!-- Agrega el filtro ordenar por -->
                    <div class="dropdown-sort d-flex justify-content-end">
                        <button class="btn-sort dropdown-toggle " type="button" data-toggle="dropdown"
                            aria-expanded="false">
                            Ordenar por
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="?sort_by=id">Más reciente</a>
                            <a class="dropdown-item" href="?sort_by=year">Año</a>
                        </div>
                    </div>

                    <!-- Agrega las cards de proyectos -->
                    {% if projects %}
                    <div class="projects-list">
                        <div class="cols-12 row">
                            {% for project in projects %}
                            <div class="col-6 ">
                                <div class="card-project">
                                    <div class="card-img-project">
                                        <img class="img-project" src="{{ project.portada.url }}" alt="img-miniatura" />
                                    </div>
                                    <div class="location-project d-flex justify-content-between w-100 h-20">
                                        <p class=" font-level-8 m-0">
                                            Region: {{ project.comuna.region }}
                                        </p>
                                        <p class=" font-level-8 m-0">
                                            Comuna: {{ project.comuna }}
                                        </p>
                                    </div>
                                    <div class="body-project ">
                                        <p class="h2">{{ project.name }}</p>
                                        <p class="description-project font-base text-sm-left">
                                            {{ project.description }}
                                        </p>
                                        <div class="tags-project row ">
                                            <div class="col-auto pb-2">
                                                <div class="badge border border-primary font-level-7">
                                                    {{project.program.sigla}}
                                                </div>
                                            </div>
                                            <div class="col-auto pb-2">
                                                <div class="badge border  border-primary font-level-7">
                                                    {{project.year.number}}
                                                </div>
                                            </div>
                                            <div class="col-auto pb-2">
                                                <div class="badge border  border-primary font-level-7 ">
                                                    {{project.type.name}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="btn-more" href="{% url 'projects_app:project-detail' project.id %}">Ver
                                        más ></a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <nav
                        class="pagination-container flex-column flex-sm-row justify-content-start a11y-fonts-flex-column a11y-fonts-flex-lg-row">
                        <p class="text-start mr-5">
                            {{ search_projects }} resultados de {{ total_projects }} proyectos
                        </p>
                        <ul class="pagination justify-content-center align-items-center active">
                            <li class="page-item">
                                <a class="page-link border-0 text-decoration-none font-level-1 " href="{% url 'projects_app:project-list' %}">
                                    < </a>
                            </li>
                            <li class="page-item ">
                                <a class="page-link border-0 text-decoration-none" href="{% url 'projects_app:project-list'%}">1</a>
                            </li>
                            <li class="page-item d-none d-ss-block a11y-fonts-d-none a11y-fonts-d-sm-block border-0">
                                <a class="page-link border-0 text-decoration-none" href="{% url 'projects_app:project-list'%}">2</a>
                            </li>
                            <li class="page-item a11y-fonts-d-none a11y-fonts-d-sm-block border-0">
                                <a class="page-link border-0 text-decoration-none" href="{% url 'projects_app:project-list'  %}">...</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link border-0 font-level-1  text-decoration-none" href="{% url 'projects_app:project-list'  %}"> > </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                {% else %}
                <p class="alert alert-warning" role="alert">
                    No hay proyectos que coincidan con la búsqueda.
                </p>
                {% endif %}
            </div>
        </div>
    </section>
    {% include "modules/footer.html" %}

    <!-- Script que carga la página con el ID del div escogido -->
    <script>
        window.addEventListener("DOMContentLoaded", function ()
        {
            var targetElement = document.getElementById("inicio-banco-proyectos");
            if (targetElement)
            {
                targetElement.scrollIntoView();
            }
        });
    </script>
    {% endblock content %}
</section>