{% extends "projects/base_projects.html" %}

{% load static %}

{% block content %}

{% include "modules/navbar.html" %}

<section class='list_projects'>
  <div class='m-5'>
    <div class="text-center">
      <div class="line">
        <p class="h1 font-weight-bold">Banco de Proyectos</p>
      </div>
    </div>
  </div>

   <div class="navegation justify-content-start">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="breadcrumb-back" href="/">Inicio</a></li>
        <li class="breadcrumb-item"><a class="breadcrumb-instance" href="/list">Banco de Proyectos</a></li>
      </ol>
    </nav>
  </div>



</section>

{% include "modules/footer.html" %}
{% endblock content %}