{% extends "home/base_home.html" %}
{% load static %} 
{% block content%}
{% include "modules/navbar.html" %}
<section class="page-error m-5"">
<section class="container-fluid  w-75 h-100 p-3">
<span class="h1 font-weight-bold my-5">Servicio no disponible <br>temporalmente</span>
<div class="my-3">
<p>Código de error: 500 - Servicio no disponible.</p>
<p class="text-lines-6-3 mb-2">La plataforma se encuentra en mantenimiento y <strong>ha sido desactivada temporalmente </strong>. Sentimos los <br> inconvenientes que esto pueda haber provocado. Podrás volver a ingresar el $Date.</p>
</div>
<div class="my-1">
<p class="text-lines-6-3 mb-2 my-2">Si te encontrabas ingresando información o llenando formularios,<strong> no ha sido posible guardar tus <br> respuestas </strong>. Cuando la plataforma vuelva a estar disponible, deberás hacerlo nuevamente.</p>
<p class="text-lines-6-3 mb-2 my-2">Te puedes contactar con la SUBDERE al teléfono de mesa central:<strong> (2) 2 636 36 00</strong></p>
</div>
</section>
</section>
{% include "modules/footer.html" %}
{% endblock content %}