{% extends "home/base_home.html" %}
{% load static %}

{% block content %}

{% include "modules/navbar.html" %}
<section>
    <div class="m-5 ">
        <div class="title d-flex justify-content-center">
            <div class="line">
                <p class="h1 font-weight-bold ">Banco de Proyectos</p>
            </div>
        </div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb ml-5 pl-3">
                <li class="breadcrumb-item"><a href="{% url 'home_app:index' %}">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    Contacto
                </li>
            </ol>
        </nav>
    </div>
</section>

<section>
    <div class="container-login">
        <div class="d-flex justify-content-center">
            <div class="d-flex justify-content-center border-fr-grey">
                <div class="card-contact rounded m-5">
                    <p class="font-level-2 text-center m-3 font-weight-bold">Formulario de Contacto</p>

                    <form id="contact-form" class="form cols-12 m-5 text-center" method="POST" action="{% url 'home_app:add-contact' %}">
                        {% csrf_token %}
                        {{ form.non_field_errors }}

                        <div class="form-group-contact">
                            {{ form.full_name.label_tag }}
                            {{ form.full_name }}
                            {{ form.full_name.errors }}
                        </div>

                        <div class="form-group-contact">
                            {{ form.email.label_tag }}
                            {{ form.email }}
                            {{ form.email.errors }}
                        </div>

                        <div class="form-group-contact">
                            {{ form.organization.label_tag }}
                            {{ form.organization }}
                            {{ form.organization.errors }}
                        </div>

                        <div class="form-group-contact">
                            {{ form.contact_reason.label_tag }}
                            {{ form.contact_reason }}
                            {{ form.contact_reason.errors }}
                        </div>

                        <div class="form-group-contact">
                            {{ form.message.label_tag }}
                            {{ form.message }}
                            <div style="text-align:right"><span id="message-word-count" style="color:gray">0 / 250 palabras.</span></div>
                            {{ form.message.errors }}
                        </div>

                        <div class="form-group-contact">
                            {{ form.captcha }}
                        </div>

                        <div class="d-flex flex-column align-items-center">
                            <button id="submitButton" type="submit" class="btn btn-primary btn-default-size" style="width: 100%">Enviar formulario</button>
                        </div>
                    </form>

                    <div id="confirmation-message" class="hidden"></div>

                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function countWords() {
        const messageInput = document.getElementById("id_message");
        const wordCountElement = document.getElementById("message-word-count");

        const message = messageInput.value;
        const wordCount = message.trim().split(/\s+/).length;
        wordCountElement.textContent = `${wordCount} / 250 palabras.`;
    }
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    $("#contact-form").submit(function(event) {
      event.preventDefault(); // Evitar que el formulario se envíe de forma predeterminada

      // Cambiar el color y el contenido del botón
      var submitButton = $("#submitButton");
      submitButton.css("background-color", "green");
      submitButton.css("text-decoration", "none");
      submitButton.html("Enviaste el formulario exitosamente.<br/>Tu mensaje será derivado al área correspondiente.");
      submitButton.prop("disabled", true); // Desactivar el botón

      // Obtener los datos del formulario
      var formData = $(this).serialize();

      // Enviar los datos del formulario mediante AJAX
      $.ajax({
        url: $(this).attr("action"),
        type: "POST",
        data: formData,
        success: function(response) {
          // Puedes realizar acciones adicionales después de enviar el formulario correctamente
          console.log("Formulario enviado correctamente");
        },
        error: function(error) {
          // Manejar el error en caso de que ocurra
          console.error("Error al enviar el formulario:", error);
        }
      });
    });
  });
</script>

{% include "modules/footer.html" %}
{% endblock content %}