.breadcrumb-style{
    background-color: transparent;
}
.breadcrumb-style a{
    color: #0F69C4;
}


#btn-icon:hover #btnIcon {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7499%)
    hue-rotate(262deg) brightness(103%) contrast(102%);
}