#filter-container {
  border: 1px solid var(--color-base-inwhite-primary-80, #3f87d0);
  background: var(--color-gray-ffffff, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 300px;
  padding: 17px;
}
.text-body {
  line-height: 30px;
  color: #373737;
}

.categorias-circle {
    border: 2px solid #0f69c4;
    width: 60px;
    height: 60px;
    transition: box-shadow 0.3s ease;
}



.container-btnCircle {
  border:2px solid transparent; 
  transition: border-color 0.3s ease;  
  width: min-content;
  padding: 5px;
  border-radius: 12px;
}


.container-btnCircle:focus-visible {
    border:2px solid  #001C41; 
    transition: border-color 0.3s ease;  
    width: min-content;
    padding: 5px;
    border-radius: 12px;
  }

.filter-line {
  width: 97%;
  height: 17px;
  flex-shrink: 0;
  border-bottom: 1px solid var(--color-gray-bbbbbb, #bbb);
}

.btn-limpiar {
  border: 1px solid #871a1a;
  color: #871a1a;
  border-radius: 5px;
  background-color: transparent;
  min-width: 90px;
  display: flex;
  align-items: center;  
  justify-content: center; 
}

.btn-limpiar:hover {
  border: 1px solid #871a1a;
  background-color: #871a1a;
  color:#fff; 
}
.btn-limpiar:focus {
  border: 1px solid #871a1a; 
}


.select-dropdown {
  position: relative;
  border: none;
  height: 50px;
  width: 260px;
  display: flex;
  align-items: center;  
  justify-content: space-between;  
  border-radius: 5px;
  border: 2px solid #373737;
  background: #fff;
  font-size: 15px;
  text-align: center;
  padding: 0 10px; 
}
.select-dropdown:focus button{
  position: relative;
  border: none;
  height: 50px;
  width: 260px;
  display: flex;
  align-items: center;  
  justify-content: space-between;  
  border-radius: 5px;
  border: 3px solid #1c1a1a;
  background: #fff;
  font-size: 15px;
  text-align: center;
  padding: 0 10px; 
}

.select-dropdown i.material-symbols-outlined {
  align-self: center; 
  margin-left: auto;  
}
.panel {
  position: absolute;
  z-index:1000; 
  height: auto;
  overflow-y: auto;
  background: white;
  padding: 10px;
  color: #373737;
  width: 260px;
  border: solid 1px #373737;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.btn-limpiar i.material-symbols-outlined {
    vertical-align: middle;
    font-size: 20px;  
}


#btn-icon i.material-symbols-rounded {
    font-size: 48px;
}