#filter-container{
    border: 1px solid var(--color-base-inwhite-primary-80, #3F87D0);
    background: var(--color-gray-ffffff, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 300px;
    padding: 17px;
}
.text-body {
    line-height: 30px;
    color: #373737;
  }

.categorias-circle{
    border: 2px solid #0F69C4;
    width: 60px; 
    height: 60px;
}
.categorias-siglas{
    color: #0F69C4;
}
.filter-line{
    width: 97%;
    height: 17px;
    flex-shrink: 0;
    border-bottom: 1px solid var(--color-gray-bbbbbb, #BBB);
}
.btn-limpiar{
    border: 1px solid #871A1A;
    color: #871A1A;
    border-radius: 5px;
    background-color: transparent;
    min-width: 90px;
}
.btn-resultados{
    background-color: #0F69C4;
    color: white;
    border: none;
    display: flex;
    padding: 8px 40px 8px 40px;
    justify-content: flex-end;
    align-items: center;
}
.selectores{
    border: 2px solid #373737;
    border-radius: 5px;
    background-color: transparent;
    height: 48px;
}
