:root {
    --color-base-secondary-001-c-41: #001c41;
    --color-base-tertiary-e-22-c-2-c: #e22c2c;
    --color-base-inblack-primary-20: #031527;
    --color-base-inblack-primary-40: #062a4e;
    --color-base-inblack-primary-60: #093f75;
    --color-base-inblack-primary-80: #0c549c;
    --color-base-inblack-secundary-20: #00050d;
    --color-base-inblack-secundary-40: #000b1a;
    --color-base-inblack-secundary-60: #001027;
    --color-base-inblack-secundary-80: #001634;
    --color-base-inblack-tertiary-20: #2d0808;
    --color-base-inblack-tertiary-40: #5a1111;
    --color-base-inblack-tertiary-60: #871a1a;
    --color-base-inblack-tertiary-80: #b42323;
    --color-base-inwhite-primary-80: #3f87d0;
    --color-base-inwhite-primary-60: #6fa5dc;
    --color-base-inwhite-primary-40: #9fc3e7;
    --color-base-inwhite-primary-20: #cfe1f3;
    --color-base-inwhite-secundary-80: #334967;
    --color-base-inwhite-secundary-60: #66778d;
    --color-base-inwhite-secundary-40: #99a4b3;
    --color-base-inwhite-secundary-20: #ccd2d9;
    --color-base-inwhite-tertiary-60: #ee8080;
    --color-base-inwhite-tertiary-40: #f3abab;
    --color-base-inwhite-tertiary-20: #f9d5d5;
    --color-gray-373737: #373737;
    --color-base-inwhite-tertiary-80: #e85656;
    --color-gray-656565: #656565;
    --color-gray-bbbbbb: #bbb;
    --color-gray-eeeeee: #eee;
    --color-gray-f-8-f-8-f-8: #f8f8f8;
    --color-gray-ffffff: #fff;
    --color-alert-cl-color-danger: #f56b0f;
    --color-alert-cl-color-warning: #e22c2c;
    --color-alert-cl-color-info: #cfe1f3;
    --color-alert-cl-color-success: #018484;
    --color-white: #fff;
    --color-gray-656565: #656565;
    --black-inactive: rgba(0, 0, 0, 0.54);
    --color-gray-373737: #373737;
    --color-alert-cl-color-danger: #f56b0f;
    --color-alert-cl-color-success: #00ada2;
    --color-gray-ffffff: #fff;
    --color-alert-cl-border-color-danger: #f56b0f;
  }
  