<div class="container">
	<div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top align-items-center">
		<h5 class="footertitle subderecolor align-middle">Síguenos a través de redes sociales</h5>
		<ul class="list-unstyled d-flex">
			<li class="ms-3"><a class="link-dark subderecolor" href="https://www.facebook.com/subdere.chile" target="_blank"><i class="fa-brands fa-facebook subderecolor browsericon"></i></a></li>
			 <li class="ms-3"><a class="link-dark subderecolor" href="https://twitter.com/laSUBDERE" target="_blank"><i class="fa-brands fa-twitter subderecolor browsericon"></i></a></li>
			  <li class="ms-3"><a class="link-dark subderecolor" href="https://www.flickr.com/photos/122380027@N08/" target="_blank"><i class="fa-brands fa-flickr subderecolor browsericon"></i></a></li>
			<li class="ms-3"><a class="link-dark subderecolor" href="https://www.youtube.com/user/SubdereChile" target="_blank"><i class="fa-brands fa-youtube subderecolor browsericon"></i></a></li>
			<li class="ms-3"><a class="link-dark subderecolor" href="https://www.instagram.com/subdere.chile/" target="_blank"><i class="fa-brands fa-instagram subderecolor browsericon"></i></a></li>
		</ul>
	</div>
</div>

<div class="subderegreen">
	<div class="container color-text-1 subderegreen">
		<footer class="py-5">
		  <div class="row">
			<div class="col-6 col-md-3 mb-3">
			  <h5 class="footertitle">Sitios</h5>
			  <ul class="nav flex-column">
				<li class="nav-item mb-2"><a href="https://www.gob.cl/" target="_blank" class="nav-link p-0 text-white">Gobierno de Chile</a></li>
				<li class="nav-item mb-2"><a href="https://www.interior.gob.cl/" target="_blank" class="nav-link p-0 text-white">Ministerio del Interior</a></li>
				<li class="nav-item mb-2"><a href="https://www.subdere.gob.cl/" target="_blank" class="nav-link p-0 text-white">Subsecretaría de Desarrollo Regional y Administrativo (SUBDERE)</a></li>
				<li class="nav-item mb-2"><a href="https://www.subinterior.gob.cl/" target="_blank" class="nav-link p-0 text-white">Subsecretaría del Interior</a></li>
				<li class="nav-item mb-2"><a href="https://www.seguridadpublica.gov.cl" target="_blank" class="nav-link p-0 text-white">Subsecretaría de Prevención del Delito</a></li>
				<li class="nav-item mb-2"><a href="http://www.sinim.gov.cl/" target="_blank" class="nav-link p-0 text-white">Sistema Nacional de Información Municipal</a></li>
				<li class="nav-item mb-2"><a href="http://www.observatorioregional.cl/inicio/noticias/noticias.html" target="_blank" class="nav-link p-0 text-white">Observatorio Regional</a></li>
				<li class="nav-item mb-2"><a href="http://www.academia.subdere.gov.cl" target="_blank" class="nav-link p-0 text-white">Academia</a></li>
				<li class="nav-item mb-2"><a href="http://asociativismo.subdere.gov.cl/registro-unico-asociaciones-municipales" target="_blank" class="nav-link p-0 text-white">Registro Único de Asociaciones Municipales</a></li>
				<li class="nav-item mb-2"><a href="https://ide.subdere.gov.cl/" target="_blank" class="nav-link p-0 text-white">Infraestructura de Datos Geoespaciales IDE - SUBDERE</a></li>
			  </ul>
			</div>
	  
			<div class="col-6 col-md-3 mb-3">
			  <h5 class="footertitle">Enlaces</h5>
			  <ul class="nav flex-column">
				<li class="nav-item mb-2"><a href="http://www.subdere.gov.cl/programas/divisi%C3%B3n-desarrollo-regional/fondo-nacional-de-desarrollo-regional-fndr" target="_blank" class="nav-link p-0 text-white">Fondo Nacional de Desarrollo Regional - FNDR</a></li>
				<li class="nav-item mb-2"><a href="http://www.subdere.gov.cl/programas/divisi%C3%B3n-municipalidades/programa-mejoramiento-urbano-y-equipamiento-comunal-pmu" target="_blank" class="nav-link p-0 text-white">Programa de Mejoramiento Urbano (PMU)</a></li>
				<li class="nav-item mb-2"><a href="http://www.subdere.gov.cl/programas/divisi%C3%B3n-municipalidades/programa-mejoramiento-de-barrios-pmb" target="_blank" class="nav-link p-0 text-white">Programa de Mejoramiento de Barrios (PMB)</a></li>
				<li class="nav-item mb-2"><a href="http://www.recuperandopatrimonio.cl/" target="_blank" class="nav-link p-0 text-white">Programa Puesta en Valor del Patrimonio</a></li>
				<li class="nav-item mb-2"><a href="http://www.subdere.gov.cl/programas/divisi%C3%B3n-municipalidades/fondo-com%C3%BAn-municipal-fcm" target="_blank" class="nav-link p-0 text-white">Fondo Común Municipal</a></li>
				<li class="nav-item mb-2"><a href="http://www.subdere.gov.cl/licitaciones-concursos/concursos" target="_blank" class="nav-link p-0 text-white">Concursos Públicos</a></li>
				<li class="nav-item mb-2"><a href="http://www.subdere.gov.cl/content/estados-financieros-de-subdere" target="_blank" class="nav-link p-0 text-white">Estados Financieros SUBDERE</a></li>
				<li class="nav-item mb-2"><a href="http://desarrollomunicipal.subdere.gov.cl/sites/default/files/Publicacio%CC%81n%20resultados.pdf?_ga=2.79958943.983553858.1659711032-1557979423.1659711032" target="_blank" class="nav-link p-0 text-white">Programa de Mejoramiento de la Gestión Municipal - Resultados 2021</a></li>
			  </ul>
			</div>
	  
			<div class="col-6 col-md-3 mb-3">
				<h5 class="footertitle">Contacto</h5>
				<ul class="nav flex-column">
				  <li class="nav-item mb-2 nav-link p-0 text-white">Sistema de Información Municipal (SIM): sim@subdere.gov.cl</a></li>
				</ul>
			</div>

			<div class="col-6 col-md-3 mb-3">
				<h5 class="footertitle">Políticas de seguridad</h5>
				<ul class="nav flex-column">
					<li class="nav-item mb-2"><a href="http://www.academia.subdere.gov.cl/wp-content/uploads/2018/11/PSSI_2018.pdf" target="_blank" class="nav-link p-0 text-white">Políticas de seguridad de la información SUBDERE</a></li>
					<li class="nav-item mb-2"><a href="http://www.academia.subdere.gov.cl/wp-content/uploads/2018/12/Resolucion-Politica-general-de-uso-de-los-recursos-Inform%C3%A1ticos-de-la-Subdere.pdf" target="_blank" class="nav-link p-0 text-white">Política General de uso de los Recursos Informáticos de la SUBDERE</a></li>
				</ul>
			</div>
	  	  
		  <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
			<p class="nav-link p-0 ">Subsecretaría de Desarrollo Regional y Administrativo, Teatinos 92 - Pisos 2 y 3. Santiago-Chile, Teléfono Mesa Central: (2) 2 636 36 00</p>
			</div>
		</footer>
	  </div>
</div>	