{% load static %}
<div class="subderegreen fixed-top">
      <div class="container d-flex flex-wrap align-items-center justify-content-center justify-content-md-between  ">

        <div class= "col-4 col-md-auto logohight" >
          <img src="{% static 'images/logosubbl.png' %}">
        </div>

        <div class="nav col-4 col-md-auto justify-content-center mb-md-0">
          <h5><a href="{% url 'projects:index' %}" class="nav-link px-2 color-text-1">Banco de Proyectos SUBDERE</a></h5>
        </div>

        <div class="col-md-4 text-end">
          <button type="button" class="btn btn-outline-light me-2">Login</button>
          <button type="button" class="btn  btn-outline-secondary">Sign-up</button>
        </div>
      </div>
  </div>
  <div class="navbardist"></div>
