{% load static %}

<nav class="fixed-top subderegreen ">
  <div class="container d-flex align-items-center">
    <div class= "col-4 col-md-auto logohight" >
      <img src="">
    </div>
    <div class="col-4 col-md-auto ">
      <a class="container-fluid navbar-brand color-text-1 " href="{% url 'projects:index' %}">Inicio</a>
    </div>
    <div class="col-12 ">
      <h1 class="color-text-1 text-center navname ">Banco de proyectos</h1>
    </div>
  </div>
</nav>
<div class="navbardist"></div>


