#loginContainer{
    border: 1px solid grey;
    border-radius: 20px;
    width: 40em;
    height: 30em;
    margin: 4em;
    padding: 1em;
    display:flex;
    flex-direction: column;

}

.title{
    width: 288px;
    height: 55px;
    margin: 48px 57px 9px 122px;
    font-family: 'RobotoSlab';
    font-size: 31px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #373737;
}
.subtitle{
    width: 425px;
    height: 30px;
    margin: 9px 2px 42px 40px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #373737;
}
.text{
    width: 437px;
    height: 24px;
    margin: 47px 30px 0 0;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #373737;
}
.loginInput{
    width: 30em;
    height: 3em;
    margin-bottom: 1em;
}

#loginButton{
    width: 10em;
    height: 3em;
    background-color: #6fa5dc;
    color: white;
    border: none;
}