.container-home{
display: flex;
width: auto;
height: auto;
padding: 24px;
align-items: flex-start;
gap:16px;
flex-shrink: 0;
background: rgba(207, 225, 243, 0.35);
}

.container-credential {
display: flex;
width: 1060px;
flex-direction: column;
align-items: flex-start;
gap: 1px;
border-radius: 4px;
padding: 16px;
gap: 10px;
align-self: stretch;
border: 1px solid $blue-sky;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
border-radius: 4px 4px 0px 0px;
background: #FFF;
}

.container-notification {
display: flex;
width:100%;
flex-direction: column;
align-items: flex-start;
gap: 1px;
border-radius: 4px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.title-notification{
display: flex;
padding: 16px;
align-items: center;
gap: 10px;
align-self: stretch;
background: $grey-d-color;
}

.body-notification{
display: flex;
padding: 16px 0px 16px 0px;
flex-direction: column;
justify-content: flex-end;
align-items: flex-end;
gap: 8px;
align-self: stretch;
border-radius: 0px 0px 4px 4px;
background: $white-color;
}

.container-history{
display: flex;
width: 400px;
flex-direction: column;
align-items: flex-start;
gap: 1px;
border-radius: 4px;
border: 1px solid $blue-sky;
background: $white-color;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.title-history{
display: flex;
padding: 16px;
align-items: center;
gap: 10px;
align-self: stretch;
background:$grey-d-color;
}

.body-history{
display: flex;
padding: 16px 0px 16px 0px;
flex-direction: column;
align-items: flex-start;
gap: 8px;
align-self: stretch;
background: $white-color;
}

.item-notification{
  padding: 0;
}