.img-portada{
    max-width: 950px;
    //overflow: hidden;
    border-radius: 5px;
}
.img-portada:hover {
    opacity: 0.9;
}
.miniatura{
    height: 100px;
    width: 100px;
    border-radius: 5px;
    background-color: grey;
    object-fit: cover;
    position: relative;
    
}
.miniatura:hover {
    opacity: 0.9;
}

.thumbnail-counter-overlay {
    display: none;
}
  

@media (min-width: 792px) {
    .mini-container{
        height:190px;
        overflow: hidden;
    }
    .miniatura{
        height: 180px;
        width: 180px;
    }
    .thumbnail-counter-overlay {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        padding-top: 35%;
        border-radius: 4px;

        font-family: 'Roboto Slab';
        color: $white-color;
        font-size: 49px;
        font-style: normal;
        font-weight: 700;
        line-height: 61.04px;
    
    }
}
