.img-portada{
    max-width: 950px;
    //overflow: hidden;
    border-radius: 5px;
}

.miniatura{
    height: 100px;
    width: 100px;
    border-radius: 5px;
    background-color: grey;
    object-fit: cover;
    position: relative;
}
.thumbnail-counter-overlay {
    position: absolute;
    top: 0; // Ajusta este valor según tu diseño
    right: 0; // Ajusta este valor según tu diseño
    background-color: rgba(0, 0, 0, 0.7); // Fondo semi-transparente para el contador
    color: white; // Color del texto del contador
    padding: 4px 8px; // Espaciado dentro del contador
    border-radius: 4px; // Bordes redondeados
  }
  

@media (min-width: 768px) {
    .mini-container{
        height:183px;
        overflow: hidden;
    }
    .miniatura{
        height: 180px;
        width: 180px;
    }
}
