.footer-container{
    background-color: $tertiary-color;
}

.deco-line {
    height: 10px;
    width: 150px;
    bottom: 0;
    left: 40px; 
    display:flex;
}
.azul {
    width: 40%;
    height: 100%;
    background-color: $primary-color;
}  
.rojo {
    width: 60%;
    height: 100%;
    background-color:$secondary-color;
}

.divider{
    width: 97%;
    height: 17px;
    flex-shrink: 0;
    border-bottom: 1px solid $white-color;
}