// Comun a todas las vistas
.view-container{
    min-width: auto;
    margin: 0 auto;
}
.ghost-input{
    border: none;
    outline: none;
}
.img-l{
    height: 357px;
    width: 100%;
    border: 1px solid $grey-c-color;
}
.img-s{
    height: 150px;
    width: 150px;
    border: 1px solid $grey-c-color;
}
.dropdown-btn{
    background-color: $white-color;
    border: 2px solid black;
    border-radius: 4px;
}

// Vista Paso cero
.opt-container{
    border: 1px solid $light-blue;
    border-radius: 5px;
}
.opt-container:hover{
    outline: 3px solid $light-blue;
    outline-offset: -2px;
}
.opt-container-active{
    outline: 3px solid $light-blue;
    outline-offset: -2px;
}

// Vista Paso 1 Creacion Proyectos Innovadores
.description-container{
    width: 90%;
    height: fit-content;
    white-space: pre-wrap;
}
.description-input{
    height: fit-content;
    min-height: 158px;
}
.img-l-container{
    width: 550px;
    height: 356px;
}
.img-xl-container{
width: 750px;
height: 430px;

}

// Vista Paso 1 Creacion Proyectos - Banco de Proyectos
.card-description {
    display: flex;
    flex-direction: column;
    width: 750px;
    height: 300px;
    padding: 15px 0px;
    align-items: flex-start;
    background-color: $neutral-color; 
}
.input-area {
    display: flex;
    flex-direction: column;
    width:720px;
    height: 258px;
    margin: 10px 12px 13px 14px ; 
}

.info i.material-symbols-outlined {
    align-self: center;
    font-size: 24px;
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.input-group, .input-group-text{
border-radius: 0% !important;
}


.title-container-edit {
    /* ajusta este valor según tus necesidades */
    min-height: 60px;
  }
  
  .title-input-container-edit {
    width: 100%;
    position: relative;
    min-height: 40px; 
  }
  .ghost-input-edit{
    border: none;
    outline: none;
}

  input.ghost-input-edit, h3.text-sans-h1 {
    position: absolute;
    top: 0;
    left: 0;
  }


  .container-detalle{
    width:750px; 
  }
