// Comun a todas las vistas
.view-container{
    min-width: auto;
    margin: 0 auto;
}
.ghost-input{
    border: none;
    outline: none;
}

// Paso cero
.opt-container{
    border: 1px solid $light-blue;
    border-radius: 5px;
}
.opt-container:hover{
    outline: 3px solid $light-blue;
    outline-offset: -2px;
}


.card-description {
display: flex;
flex-direction: column;
width: 750px;
height: 330px;
padding: 15px 0px;
align-items: flex-start;
background-color: $neutral-color; 
}

.input-area {
display: flex;
flex-direction: column;
width:720px;
height: 300px;
margin: 10px 12px 13px 14px ; 

}

.info i.material-symbols-outlined {
    align-self: center;
    font-size: 24px;
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.input-group, .input-group-text{
border-radius: 0% !important;
}


.title-container {
    /* ajusta este valor según tus necesidades */
    min-height: 60px;
  }
  
  .title-input-container {
    width: 100%;
    position: relative;
    min-height: 40px; 
  }
  
  input.ghost-input, h3.text-sans-h1 {
    position: absolute;
    top: 0;
    left: 0;
  }