.modal-content{
  border: 1px solid $blue-color !important;
  border-radius: 0px !important;
  }
  
  .modal-dialog {
  min-width: fit-content;
  }
  
  .modal-detalle { 
  display: flex;
  padding: 0px 15px;
  width: 800px;
  height: 800px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  }
  
  .detalle-content{
      display: flex;
      padding: 16px;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      align-self: stretch; 
  }
  
  .btn-borderless {
  color:$blue-color;
  background-color: $white-color;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; 
  border:none; 
  }