// .modal{
//  background-color: blue;
// }
// .modal-dialog{
//     background-color: violet; 
// }

// .modal-header{
//     background-color: blueviolet;
// }
// .modal-body{
//     background-color: green;
// }
// .carousel-inner{
//     background-color: black;
// }

// .carousel-btn{
//     background-color: white;
//     border-radius: 50%;
// }

.custom-close-button{
    border: none;
    background-color: transparent;
    align-self: flex-end;
    color: grey;
}
