.carrusel-containerrr{
    border: 1px solid blue;
    height: fit-content;
    width: 550px;
}

.btn-selector-lateral{
    border: 2px solid $blue-color;
    width: 90%;
    background-color: $white-color;
    color: $blue-color;
    padding: 13px;
    &:hover  {
        background-color: $blue-sky;
        color: $blue-color;
        border: none;
        border: 2px solid $blue-color; 
    }
    &:focus  {
        background-color: $blue-color;
        color: $white-color;
        border: none; 
        border: 2px solid $blue-color; 
    }
    &:not(:last-child) {
        border-bottom: none;
    }
}
