/* Estilos para dispositivos móviles y tabletas */
@media (max-width: 1059px) {
  .desc-container {
    display: flex !important;
    flex-direction: column-reverse !important;
  }
}
/* Estilos para dispositivos de escritorio */
@media (min-width: 1060px) {
  .desc-container{
    border: none;
  }
  .carrusel-container {
    float: right; 
  }
}

.btn-selector-lateral {
  border: 2px solid $blue-color;
  width: 90%;
  background-color: $white-color;
  color: $blue-color;
  padding: 13px;
  &:hover {
    background-color: $blue-sky;
    color: $blue-color;
    border: none;
    border: 2px solid $blue-color; 
  }
  &:focus {
    background-color: $blue-color;
    color: $white-color;
    border: none; 
    border: 2px solid $blue-color; 
  }
  &:not(:last-child) {
    border-bottom: none;
  }
}
