.volver-btn{
    border:none;
    color:$blue-color;
    background-color: transparent;
    width: 90px;
}
.breadcrumbs{
    @include font-sans(16px, 400, $blue-color);
}
.descripcion-container{
    background-color: $neutral-color;
}
.img-proyecto{
    background-color: grey;
    width: 95%;
    height: 350px;
    flex-shrink: 0;
    border-radius: 5px;
    object-fit: cover;
}
.detalles-proyecto{
    background-color: $blue-color;
    height: 41px;
}
.grey-table-line{
    background-color: #EEE;   
}
.white-table-line{
    background-color: transparent;   
}