.volver-btn{
    border:none;
    color:#0F69C4;
    background-color: transparent;
    width: 90px;
}
.descripcion-container{
    background-color: #EEE;
}
.img-proyecto{
    background-color: grey;
    width: 95%;
    height: 350px;
    flex-shrink: 0;
    border-radius: 5px;
    object-fit: cover;
}
.detalles-del-proyecto{
    background-color: #0F69C4;
    height: 41px;
}
