.proyect-card{
    border:2px solid $primary-color;
    border-radius:0px;
    background-color: transparent;
    max-width: 371px;
    min-width: 321px;
}
.card-img{
    height: 150px;
    width: 95%;
    background-color: bisque;
}