#filter-container {
  border: 1px solid var(--color-base-inwhite-primary-80, $light-blue);
  background: var(--color-gray-ffffff, $white-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 300px;
  padding: 17px;
}

.search-bar{
  max-width: 450px;
}

.text-body {
  line-height: 30px;
  color: $grey-a-color;
}

.categorias-circle {
  border: 2px solid $blue-color;
  width: 60px;
  height: 60px;
  transition: box-shadow 0.3s ease;

  &:hover, &:checked {
    border: 4px solid #3F87D0;
  }
}

#btn-icon i.material-symbols-rounded{
  font-size: 48px;
}

.container-btnCircle {
  width: min-content;
  padding: 5px;
  border-radius: 12px;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;

  &:focus-visible {
    border: 2px solid $tertiary-color;
  }
}

.filter-line {
  width: 97%;
  height: 17px;
  flex-shrink: 0;
  border-bottom: 1px solid var(--color-gray-bbbbbb, #bbb);
}

.btn-limpiar {
  border: 1px solid $dark-red;
  color: $dark-red;
  border-radius: 5px;
  background-color: transparent;
  min-width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: $dark-red;
    color: #fff;
  }
}

.select-dropdown, .sort-dropdown, .filter-dropdown {
  position: relative;
  border: none;
  height: 50px;
  width: 260px;
  display: flex;
  align-items: center;
  border-radius: 0px;
  border: 1px solid $grey-color;
  background: $white-color;
  font-size: 15px;
  text-align: center;
  padding: 0 10px;

  &:focus, &:hover, &:active {
    border: 2px solid $grey-color;
  }

  .dropdown-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  i.material-symbols-outlined {
    align-self: center;
    margin-left: auto;
  }
}

.sort-dropdown {
  border-radius: 0px;
  margin-right: 15px;
}

.panel {
  position: absolute;
  z-index:1000; 
  height: auto;
  overflow-y: auto;
  margin:0; 
  background: $white-color; 
  color: $grey-a-color;
  width: 260px;
  border: solid 1px $grey-a-color;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.panel-sort, .filter-container {
  position: absolute;
  z-index: 1000;
  height: auto;
  overflow-y: auto;
  margin: 0;
  background: $white-color;
  color: $grey-a-color;
  width: 260px;
  border: solid 1px $grey-a-color;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.panel-filter {
  position: absolute;
  z-index: 1000;
  max-height: 633px;
  overflow-y: auto;
  left:7%; 
}

.btn-limpiar i.material-symbols-outlined,
.info-circle i.material-symbols-outlined {
  vertical-align: middle;
  font-size: 20px;
}
.info-circle i.material-symbols-outlined {
  color:$blue-color;
  font-size: 24px;
}

.input-search  {
  border: 2px solid $grey-color;
  background: $white-color;
}

#icon-inputSearch i.material-symbols-outlined, 
#icon-inputClose i.material-symbols-outlined {
  font-size: 28px;
  justify-self: center;
  padding-top: 5px;
}

#icon-inputSearch i.material-symbols-outlined {
  color: $light-blue;
}

#icon-inputClose i.material-symbols-outlined {
  color: $dark-red;
}

.form-check-input {
  margin: 0px;
}

input[type='radio'] {
  width: 25px;
  height: 25px;
  flex-shrink: 0;

  &:checked {
    background-color: $blue-color;
  }
}

.list-sort {
  padding: 10px 10px 12px 10px;
  font-size: 16px;
}

.items-sort {
  list-style: none;
  display: flex;
  padding-top: 10px;
}

.form-check-label {
  margin: 0 11px 0 10px;
}

.list-group-item {
  margin: 5px 11px 5px 15px;
}

// Media queries

@media (min-width: 993px) and (max-width: 1190px) {
  .sort-dropdown {
    width: 210px;
    padding: 0 5px;
    margin-right: 12px;
  }

  .filter-dropdown {
    width: 220px;
    font-size: 14px;
    margin-left: 12px;
  }
  .panel-filter {

    left:12%; 
  }



}

@media (min-width: 851px) and (max-width: 992px) {
  .sort-dropdown {
    width: 210px;
    padding: 0 5px;
    margin-right: 12px;
  }

  .filter-dropdown {
    width: 220px;
    font-size: 14px;
    margin-left: 10px;
  }
  .panel-filter {

    left:12%; 
  }


}
@media (min-width: 768px) and (max-width: 850px) {
  .sort-dropdown {
    width: 200px;
    padding: 0 5px;
    margin-right: 12px;
  }

  .filter-dropdown {
    width: 220px;
    font-size: 14px;
    margin-left: 12px;
  }
  .panel-sort{
    margin-right: 15px;
    right: 0;
  }
  .panel-filter {

    left:5%; 
  }

}
@media (min-width: 416px) and (max-width: 576px) {
  .sort-dropdown {
    width: 210px;
    padding: 0 5px;
    margin-right: 12px;
  }

  .filter-dropdown {
    width: 220px;
    font-size: 14px;
    margin-left: 12px;
  }

  .panel-sort {
    right: 0;
    width: 210;
  }
  .panel-filter {

    left:5%; 
  }

}

@media (min-width: 401px) and (max-width: 415px) {
  .sort-dropdown {
    width: 170px;
    padding: 5px;
    margin-right: 12px;
  }

  .filter-dropdown {
    width: 160px;
    font-size: 14px;
    padding: 0 8px;
    margin-left: 12px;
  }

  .panel-sort {
    right: 0;
    top: 80%;
  }

  

}

@media (min-width: 362px) and (max-width: 400px) {
  .sort-dropdown {
    width: 150px;
    margin-right: 12px;
    margin-bottom: 10px;
  }

  .filter-dropdown {
    width: 150px;
    font-size: 16px;
    padding: 0 8px;
    margin: 0 10px 10px 12px;
  }

  .panel-sort {
    right: 0;
    top: 92%;
  }


}

@media (min-width: 320px) and (max-width: 361px) {
  .sort-dropdown {
    width: 140px;
    padding: 0 5px;
    margin-right: 12px;
  }

  .filter-dropdown {
    width: 140px;
    font-size: 16px;
    padding: 0 8px;
    margin: 0 10px 12px 12px;
  }

  .panel-sort {
    right: 0;
    top: 80%;
  }


}
