// Paleta de color
$primary-color: #006FB3;
$blue-color: #0F69C4;
$secondary-color: #FE6565;
$tertiary-color: #001C41;
$grey-a-color: #373737;
$white-color: #FFF;
$neutral-color: #EEEEEE;

$accent-color: #A8B7c7;
$grey-b-color: #8a8a8a;
$black-color: #111111;

// Estilos texto con serifa
@mixin font-serif ($fontSize, $fontColor) {
    font-family: 'Roboto Slab';
    color: $fontColor;
    font-size: $fontSize;
}
.text-serif-h1{
    @include font-serif(49px, $grey-a-color);
}
.text-serif-h2{
    @include font-serif(24px, $grey-a-color);
}

// Estilos texto sin serifa
@mixin font-sans ($fontSize, $fontWeight, $fontColor) {
    font-family: 'Roboto';
    color: $fontColor;
    font-size: $fontSize;
    font-weight: $fontWeight;
}
.text-sans-h1{
    @include font-sans(39px, 500, $grey-a-color);
}
.text-sans-h2{
    @include font-sans(31px, 500, $grey-a-color);
}
.text-sans-h2-white{
    @include font-sans(31px, 500, $white-color);
}
.text-sans-h3{
    @include font-sans(25px, 500, $grey-a-color);
}
.text-sans-h4{
    @include font-sans(20px, 600, $grey-a-color);
}
.text-sans-h5{
    @include font-sans(14px, 400, $grey-a-color);
}
.text-sans-h5-bold{
    @include font-sans(14px, 700, $grey-a-color);
}
.text-sans-h5-blue{
    @include font-sans(14px, 400, $primary-color);
}
.text-sans-p{
    @include font-sans(16px, 400, $grey-a-color);
    line-height: 30px;
}
.text-sans-p-blue{
    @include font-sans(16px, 400, $tertiary-color);
}
.text-sans-p-white{
    @include font-sans(16px, 400, $white-color);
    line-height: 35px;
}


// Linea decorativa 50/50
.line{
    width: 80%;
    height: 3px;
    display: flex;
}
.blue{
    width: 50%;
    height: 100%;
    background-color: $primary-color;
}
.red{
    width: 50%;
    height: 100%;
    background-color: $secondary-color;
}

// Botones
@mixin btn-principal ($btnSize){
    width: $btnSize;
    background-color: $blue-color;
    border: none;
    color: $white-color;
    padding: 13px;
}
.btn-principal-s{
   @include btn-principal(fit-content);
   height: fit-content; 
}
.btn-principal-l{
    @include btn-principal(90%); 
 }
.custom-pagination-btn{
    border: none;
    background-color: transparent;
    color: $blue-color;
}
.custom-pagination-btn.active {
    background-color:$blue-color;
    color: $white-color;
  }

// Tags
.tag{
    border: 1px solid #0F69C4;
    background-color: transparent;
    color: #0F69C4;
}
