// Paleta de color
$primary-color: #006FB3;
$blue-color: #0F69C4;
$secondary-color: #E22C2C;
$tertiary-color: #001C41;
$grey-color: #363636;
$grey-a-color: #373737;
$grey-b-color: #8a8a8a;
$grey-c-color:#656565; 
$grey-light-color:#BBBBBB;
$white-color: #FFF;
$neutral-color: #EEEEEE;
$alert-danger:#F56B0F;
$dark-red:#871a1a;
$success-color: #006636; 
$light-blue:#3f87d0;
$dark-black:#1c1a1a ;
$dark-blue:#093F75;
$blue-sky:#CFE1F3;  
$accent-color: #A8B7c7;
$black-color: #111111;


// Estilos texto con serifa
@mixin font-serif ($fontSize, $fontColor) {
    font-family: 'Roboto Slab';
    color: $fontColor;
    font-size: $fontSize;
}
.text-serif-h1{
    @include font-serif(49px, $grey-a-color);
}
.text-serif-h2{
    @include font-serif(31px, $grey-a-color);
    font-weight: 700;
}
.text-serif-h3{
    @include font-serif(24px, $grey-a-color);
    font-weight: 700;
}

// Estilos texto sin serifa
@mixin font-sans ($fontSize, $fontWeight, $fontColor) {
    font-family: 'Roboto';
    color: $fontColor;
    font-size: $fontSize;
    font-weight: $fontWeight;
}
.text-sans-h1{
    @include font-sans(39px, 500, $grey-a-color);
}
.text-sans-h1-muted {
    @include font-sans(39px, 500, $grey-light-color);
}
.text-sans-h2{
    @include font-sans(31px, 500, $grey-a-color);
}
.text-sans-h2-white{
    @include font-sans(31px, 500, $white-color);
}
.text-sans-h3{
    @include font-sans(25px, 500, $grey-a-color);
}
.text-sans-h3-lightgrey{
    @include font-sans(25px, 500, $grey-c-color);
}
.text-sans-h35{
    @include font-sans(23px, 500, $grey-a-color);
}
.text-sans-h4{
    @include font-sans(20px, 600, $grey-a-color);
}
.text-sans-h4-white{
    @include font-sans(20px, 600, $white-color);
}
.text-sans-h5{
    @include font-sans(14px, 400, $grey-a-color);
}
.text-sans-h5-bold{
    @include font-sans(14px, 700, $grey-a-color);
}

.text-sans-h5-blue{
    @include font-sans(14px, 400, $primary-color);
}
.text-sans-h5-red{
    @include font-sans(14px, 400, $dark-red);
}

.text-sans-h5-grey{
    @include font-sans(14px, 400, $grey-a-color);
}
.text-sans-p{
    @include font-sans(16px, 400, $grey-a-color);
    line-height: 30px;
}
.text-sans-p-blue{
    @include font-sans(16px, 400, $blue-color);
}
.text-sans-p-tertiary{
    @include font-sans(16px, 400, $tertiary-color);
}
.text-sans-p-white{
    @include font-sans(16px, 400, $white-color);
    line-height: 35px;
}
.text-sans-p-bold-darkred{
    @include font-sans(16px, 700, $dark-red);
    line-height: 35px;
}

.text-sans-b-gray{
    @include font-sans(16px, 700, $grey-a-color);
    line-height: 22px;
}
.text-sans-c-gray{
    @include font-sans(16px, 400, $grey-c-color);
    line-height: 22px;
}
.text-sans-b-white{
    @include font-sans(16px, 700, $white-color);
    line-height: 24px;
}

.text-sans-sub-grey{
    @include font-sans(18px, 400, $grey-a-color);
    line-height: 23px;
}

// Linea decorativa 50/50
.line{
    width: 80%;
    height: 3px;
    display: flex;
}
.blue{
    width: 50%;
    height: 100%;
    background-color: $primary-color;
}
.red{
    width: 50%;
    height: 100%;
    background-color: $secondary-color;
}

// Botones
@mixin btn-principal ($btnSize){
    width: $btnSize;
    background-color: $blue-color;
    border: none;
    color: $white-color;
    padding: 13px;
}
.btn-principal-s{
   @include btn-principal(fit-content);
   height: fit-content; 
}
.btn-principal-l{
    @include btn-principal(90%); 
}
.btn-principal-xl{
    @include btn-principal(100%); 
}

@mixin btn-secundario ($btnSize, $btnBG, $btnColor){
    width: $btnSize;
    background-color: $btnBG;
    border: 2px solid $blue-color;
    color: $btnColor;
    padding: 13px;
}
.btn-secundario-s{
    @include btn-secundario(fit-content, $white-color, $blue-color);
}
.btn-secundario-s:hover{
    background-color: $blue-color;
    color: $white-color;
}
.btn-secundario-s-active{
    background-color: $blue-color;
    color: $white-color;
}
.btn-secundario-s:focus{
    background-color: $blue-color;
    color: $white-color;
}
.btn-secundario-l{
    @include btn-secundario(100%, $white-color, $blue-color);
}
.btn-secundario-l:hover{
    background-color: $blue-color;
    color: $white-color;
}


.btn-terciario{
    width:fit-content;
    background-color: $white-color;
    color: $blue-color;
    border: 2px solid $blue-color;
    border-radius: 32px;
}
.btn-terciario:hover{
    background-color:$blue-color;
    color: $white-color;
}
.selected-button{
    background-color: $blue-color;
    color: $white-color;
}

.custom-pagination-btn{
    border: none;
    background-color: transparent;
    color: $blue-color;
}
.custom-pagination-btn.active {
    background-color:$blue-color;
    color: $white-color;
}


.red-btn{
    width: fit-content;
    background-color: transparent;
    border: 2px solid $dark-red;
    color: $dark-red;
    padding: 13px;
}
.red-ghost-btn{
    width: fit-content;
    background-color: transparent;
    border: none;
    color: $dark-red;
    padding: 13px;
}

// Selectores
.custom-selector{
    width: 402px;
    height: 60px;
    border: 1px solid $grey-c-color;
    border-radius: 4px;
    background-color: $white-color;
    font-family: 'Roboto';
    color: $grey-c-color;
    font-size: 16;
    font-weight: 500;
}
.custom-option {
    background-color: $white-color;
    color: #093F75;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 800;
}

// Tags
.tag{
    border: 1px solid #0F69C4;
    background-color: transparent;
    color: #0F69C4;
}


#btn-icon:hover  #btnIcon {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(1%) hue-rotate(210deg) brightness(102%) contrast(101%)
}
#btn-icon:focus-visible #btnIcon {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7499%)
    hue-rotate(262deg) brightness(103%) contrast(102%);
}
.btn-outline-primary:hover #btnIcon{
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7499%)
    hue-rotate(262deg) brightness(103%) contrast(102%);
}

.btn-outline-primary:active #btnIcon{
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7499%)
    hue-rotate(262deg) brightness(103%) contrast(102%);
}

.btn-outline-primary:focus-visible #btnIcon{
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7499%)
    hue-rotate(262deg) brightness(103%) contrast(102%);
}


.white-icon {
    filter:brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(1%) hue-rotate(210deg) brightness(102%) contrast(101%)
}

.white-icon:hover {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(1%) hue-rotate(210deg) brightness(102%) contrast(101%)
}
.white-icon:active {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(1%) hue-rotate(210deg) brightness(102%) contrast(101%)
}
.white-icon:focus-visible {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(1%) hue-rotate(210deg) brightness(102%) contrast(101%)
}


.alerta {
    border: 2px solid $alert-danger;
    border-radius: 0px;
    padding: 15px ; 
}   
#icon-alert i.material-symbols-outlined{
    font-size:48px;
    color:$alert-danger; 
    align-self: flex-start;
}
.text-alert {
    color:$tertiary-color;
}
