.text-serif-h1 {
  font-family: "Roboto Slab";
  color: #373737;
  font-size: 49px;
}

.text-serif-h2 {
  font-family: "Roboto Slab";
  color: #373737;
  font-size: 24px;
}

.text-sans-h1 {
  font-family: "Roboto";
  color: #373737;
  font-size: 39px;
  font-weight: 500;
}

.text-sans-h2 {
  font-family: "Roboto";
  color: #373737;
  font-size: 31px;
  font-weight: 500;
}

.text-sans-h2-white {
  font-family: "Roboto";
  color: #FFF;
  font-size: 31px;
  font-weight: 500;
}

.text-sans-h3 {
  font-family: "Roboto";
  color: #373737;
  font-size: 25px;
  font-weight: 500;
}

.text-sans-h4 {
  font-family: "Roboto";
  color: #373737;
  font-size: 20px;
  font-weight: 600;
}

.text-sans-h5 {
  font-family: "Roboto";
  color: #373737;
  font-size: 14px;
  font-weight: 400;
}

.text-sans-h5-bold {
  font-family: "Roboto";
  color: #373737;
  font-size: 14px;
  font-weight: 700;
}

.text-sans-h5-blue {
  font-family: "Roboto";
  color: #006FB3;
  font-size: 14px;
  font-weight: 400;
}

.text-sans-p {
  font-family: "Roboto";
  color: #373737;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.text-sans-p-white {
  font-family: "Roboto";
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
}

.line {
  width: 80%;
  height: 3px;
  display: flex;
}

.blue {
  width: 50%;
  height: 100%;
  background-color: #006FB3;
}

.red {
  width: 50%;
  height: 100%;
  background-color: #FE6565;
}

.btn-principal-s {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #0F69C4;
  border: none;
  color: #FFFFFF;
  padding: 13px;
}

.btn-principal-l {
  width: 90%;
  background-color: #0F69C4;
  border: none;
  color: #FFFFFF;
  padding: 13px;
}

.tag {
  border: 1px solid #0F69C4;
  background-color: transparent;
  color: #0F69C4;
}

.categorias-circle {
  border: 1px solid #006FB3;
  width: 65px;
  height: 65px;
}

.categorias-siglas {
  color: #006FB3;
  font-size: 25px;
}

.que-es-circle {
  background-color: rgba(27, 103, 178, 0.4);
  width: 200px;
  height: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.que-es-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.footer-container {
  background-color: #001C41;
}

.deco-line {
  height: 10px;
  width: 150px;
  bottom: 0;
  left: 40px;
  display: flex;
}

.azul {
  width: 40%;
  height: 100%;
  background-color: #006FB3;
}

.rojo {
  width: 60%;
  height: 100%;
  background-color: #FE6565;
}

.divider {
  width: 97%;
  height: 17px;
  flex-shrink: 0;
  border-bottom: 1px solid #FFF;
}

#filter-container {
  border: 1px solid var(--color-base-inwhite-primary-80, #3F87D0);
  background: var(--color-gray-ffffff, #FFF);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 300px;
  padding: 17px;
  height: -moz-fit-content;
  height: fit-content;
}

.categorias-circle {
  border: 2px solid #006FB3;
  width: 60px;
  height: 60px;
}

.btn-limpiar {
  border: 1px solid #871A1A;
  color: #871A1A;
  border-radius: 5px;
  background-color: transparent;
  min-width: 90px;
}

.selectores {
  border: 2px solid #373737;
  border-radius: 5px;
  background-color: transparent;
  height: 48px;
}

.info-circle {
  color: #006FB3;
}

.proyect-card {
  border: 2px solid #006FB3;
  border-radius: 0px;
  background-color: transparent;
  max-width: 371px;
  min-width: 321px;
}

.card-img {
  height: 150px;
  width: 95%;
  background-color: bisque;
}

.volver-btn {
  border: none;
  color: #0F69C4;
  background-color: transparent;
  width: 90px;
}

.descripcion-container {
  background-color: #EEE;
}

.img-proyecto {
  background-color: grey;
  width: 95%;
  height: 350px;
  flex-shrink: 0;
  border-radius: 5px;
}

.detalles-del-proyecto {
  background-color: #0F69C4;
  height: 41px;
}

.img-portada {
  max-width: 950px;
  border-radius: 5px;
}

.img-portada:hover {
  opacity: 0.9;
}

.miniatura {
  height: 100px;
  width: 100px;
  border-radius: 5px;
  background-color: grey;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

.miniatura:hover {
  opacity: 0.9;
}

.thumbnail-counter-overlay {
  display: none;
}

@media (min-width: 792px) {
  .mini-container {
    height: 190px;
    overflow: hidden;
  }
  .miniatura {
    height: 180px;
    width: 180px;
  }
  .thumbnail-counter-overlay {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    padding-top: 35%;
    border-radius: 4px;
    font-family: "Roboto Slab";
    color: #FFF;
    font-size: 49px;
    font-style: normal;
    font-weight: 700;
    line-height: 61.04px;
  }
}
.custom-close-button {
  border: none;
  background-color: transparent;
  align-self: flex-end;
  color: grey;
}/*# sourceMappingURL=styles.css.map */