@charset "UTF-8";
.text-serif-h1 {
  font-family: "Roboto Slab";
  color: #373737;
  font-size: 49px;
}

.text-serif-h2 {
  font-family: "Roboto Slab";
  color: #373737;
  font-size: 31px;
  font-weight: 700;
}

.text-serif-h3 {
  font-family: "Roboto Slab";
  color: #373737;
  font-size: 24px;
  font-weight: 700;
}

.text-sans-h1 {
  font-family: "Roboto";
  color: #373737;
  font-size: 39px;
  font-weight: 500;
}

.text-sans-h1-muted {
  font-family: "Roboto";
  color: #BBBBBB;
  font-size: 39px;
  font-weight: 500;
}

.text-sans-h2 {
  font-family: "Roboto";
  color: #373737;
  font-size: 31px;
  font-weight: 500;
}

.text-sans-h2-white {
  font-family: "Roboto";
  color: #FFF;
  font-size: 31px;
  font-weight: 500;
}

.text-sans-h2-tertiary {
  font-family: "Roboto";
  color: #001C41;
  font-size: 31px;
  font-weight: 500;
}

.text-sans-h3 {
  font-family: "Roboto";
  color: #373737;
  font-size: 25px;
  font-weight: 500;
}

.text-sans-h3-lightgrey {
  font-family: "Roboto";
  color: #656565;
  font-size: 25px;
  font-weight: 500;
}

.text-sans-h35 {
  font-family: "Roboto";
  color: #373737;
  font-size: 23px;
  font-weight: 500;
}

.text-sans-h4 {
  font-family: "Roboto";
  color: #373737;
  font-size: 20px;
  font-weight: 600;
}

.text-sans-h4-white {
  font-family: "Roboto";
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
}

.text-sans-h5 {
  font-family: "Roboto";
  color: #373737;
  font-size: 14px;
  font-weight: 400;
}

.text-sans-h5-bold {
  font-family: "Roboto";
  color: #373737;
  font-size: 14px;
  font-weight: 700;
}

.text-sans-h5-blue {
  font-family: "Roboto";
  color: #006FB3;
  font-size: 14px;
  font-weight: 400;
}

.text-sans-h5-red {
  font-family: "Roboto";
  color: #871a1a;
  font-size: 14px;
  font-weight: 400;
}

.text-sans-h5-grey {
  font-family: "Roboto";
  color: #373737;
  font-size: 14px;
  font-weight: 400;
}

.text-sans-p {
  font-family: "Roboto";
  color: #373737;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.text-sans-p-blue {
  font-family: "Roboto";
  color: #0F69C4;
  font-size: 16px;
  font-weight: 400;
}

.text-sans-p-tertiary {
  font-family: "Roboto";
  color: #001C41;
  font-size: 16px;
  font-weight: 400;
}

.text-sans-p-white {
  font-family: "Roboto";
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
}

.text-sans-p-bold-darkred {
  font-family: "Roboto";
  color: #871a1a;
  font-size: 16px;
  font-weight: 700;
  line-height: 35px;
}

.text-sans-p-bold-blue {
  font-family: "Roboto";
  color: #0F69C4;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.text-sans-b-gray {
  font-family: "Roboto";
  color: #373737;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

.text-sans-c-gray {
  font-family: "Roboto";
  color: #656565;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.text-sans-b-white {
  font-family: "Roboto";
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.text-sans-b-red {
  font-family: "Roboto";
  color: #871a1a;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-decoration-line: underline;
}

.text-sans-sub-grey {
  font-family: "Roboto";
  color: #373737;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.line {
  width: 80%;
  height: 3px;
  display: flex;
}

.blue {
  width: 50%;
  height: 100%;
  background-color: #006FB3;
}

.red {
  width: 50%;
  height: 100%;
  background-color: #E22C2C;
}

.btn-principal-s {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #0F69C4;
  border: none;
  color: #FFF;
  padding: 13px;
  height: -moz-fit-content;
  height: fit-content;
}

.btn-principal-l {
  width: 90%;
  background-color: #0F69C4;
  border: none;
  color: #FFF;
  padding: 13px;
}

.btn-principal-xl {
  width: 100%;
  background-color: #0F69C4;
  border: none;
  color: #FFF;
  padding: 13px;
}

.btn-secundario-s {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #FFF;
  border: 2px solid #0F69C4;
  color: #0F69C4;
  padding: 13px;
}

.btn-secundario-s:hover {
  background-color: #0F69C4;
  color: #FFF;
}

.btn-secundario-s:active {
  background-color: #0F69C4;
  color: #FFF;
}

.btn-secundario-s:focus {
  background-color: #0F69C4;
  color: #FFF;
}

.btn-secundario-l {
  width: 100%;
  background-color: #FFF;
  border: 2px solid #0F69C4;
  color: #0F69C4;
  padding: 13px;
}

.btn-secundario-l:hover {
  background-color: #0F69C4;
  color: #FFF;
}

.btn-terciario {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #FFF;
  color: #0F69C4;
  border: 2px solid #0F69C4;
  border-radius: 32px;
}

.btn-terciario:hover {
  background-color: #0F69C4;
  color: #FFF;
}

.btn-pill-white {
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  display: flex;
  height: 40px;
  padding: 0px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  border: 1px solid #0F69C4;
  transition: background-color 0.3s, color 0.3s;
  background-color: #FFF;
  color: #0F69C4;
}
.btn-pill-white:hover {
  background-color: #0F69C4;
  color: #FFF;
}
.btn-pill-white:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(15, 105, 196, 0.3);
}

.btn-pill-blue {
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  display: flex;
  height: 40px;
  padding: 0px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  border: 1px solid #0F69C4;
  transition: background-color 0.3s, color 0.3s;
  background-color: #0F69C4;
  color: #FFF;
}
.btn-pill-blue:hover {
  background-color: #0F69C4;
  color: #FFF;
}
.btn-pill-blue:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(15, 105, 196, 0.3);
}

.selected-button {
  background-color: #0F69C4;
  color: #FFF;
}

.custom-pagination-btn {
  border: none;
  background-color: transparent;
  color: #0F69C4;
}

.custom-pagination-btn.active {
  background-color: #0F69C4;
  color: #FFF;
}

.red-btn {
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent;
  border: 2px solid #871a1a;
  color: #871a1a;
  padding: 13px;
}

.red-ghost-btn {
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent;
  border: none;
  color: #871a1a;
  padding: 13px;
}

.custom-selector {
  width: 402px;
  height: 60px;
  border: 1px solid #656565;
  border-radius: 4px;
  background-color: #FFF;
  font-family: "Roboto";
  color: #656565;
  font-size: 16;
  font-weight: 500;
}

.custom-option {
  background-color: #FFF;
  color: #093F75;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 800;
}

.tag {
  border: 1px solid #0F69C4;
  background-color: transparent;
  color: #0F69C4;
}

#btn-icon:hover #btnIcon {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(1%) hue-rotate(210deg) brightness(102%) contrast(101%);
}

#btn-icon:focus-visible #btnIcon {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7499%) hue-rotate(262deg) brightness(103%) contrast(102%);
}

.btn-outline-primary:hover #btnIcon {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7499%) hue-rotate(262deg) brightness(103%) contrast(102%);
}

.btn-outline-primary:active #btnIcon {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7499%) hue-rotate(262deg) brightness(103%) contrast(102%);
}

.btn-outline-primary:focus-visible #btnIcon {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7499%) hue-rotate(262deg) brightness(103%) contrast(102%);
}

.white-icon {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(1%) hue-rotate(210deg) brightness(102%) contrast(101%);
}

.white-icon:hover {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(1%) hue-rotate(210deg) brightness(102%) contrast(101%);
}

.white-icon:active {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(1%) hue-rotate(210deg) brightness(102%) contrast(101%);
}

.white-icon:focus-visible {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(1%) hue-rotate(210deg) brightness(102%) contrast(101%);
}

.alerta {
  border: 2px solid #F56B0F;
  border-radius: 0px;
  padding: 15px;
}

#icon-alert i.material-symbols-outlined {
  font-size: 48px;
  color: #F56B0F;
  align-self: flex-start;
}

.text-alert {
  color: #001C41;
}

.line-container {
  position: absolute;
  top: 0px;
  height: -moz-fit-content;
  height: fit-content;
  bottom: 0;
  left: 45px;
}

#lineBlue {
  width: 58px;
  height: 8px;
  background-color: #0f69c4;
}

#lineRed {
  width: 82px;
  height: 8px;
  background-color: #E22C2C;
}

.logo-subdere {
  font-family: "Roboto";
  color: #373737;
  font-size: 16px;
  font-weight: 700;
  width: 210px;
  margin-left: 20px;
  text-decoration: none;
}

.menu-btn {
  border: none;
  background-color: transparent;
  color: #373737;
  text-decoration: underline;
}

.menu-modal {
  display: none;
  position: absolute;
  top: 28px;
  right: 0;
  background-color: #093F75;
  z-index: 9999;
  padding: 10px;
  width: 290px;
}

.menu-modal.open {
  display: block;
}

.btn-close-modal {
  border: none;
  background-color: transparent;
  color: #FFF;
  text-decoration: underline;
}

#menu-divider {
  color: #FFF;
}

@media (min-width: 792px) {
  .logo-subdere {
    font-family: "Roboto";
    color: #373737;
    font-size: 20px;
    font-weight: 700;
    width: 280px;
    margin-left: 75px;
  }
  .line-container {
    left: 100px;
  }
}
.categorias-circle {
  border: 1px solid #006FB3;
  width: 65px;
  height: 65px;
}

.categorias-siglas {
  color: #006FB3;
  font-size: 25px;
}

.que-es-circle {
  background-color: rgba(27, 103, 178, 0.4);
  width: 200px;
  height: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.que-es-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.login-container {
  border: none;
}

@media (min-width: 768px) {
  .login-container {
    border: 1px solid #373737;
    border-radius: 5px;
  }
}
.carrusel-containerrr {
  border: 1px solid blue;
  height: -moz-fit-content;
  height: fit-content;
  width: 550px;
}

.footer-container {
  background-color: #001C41;
}

.line-reference {
  position: relative;
}

.logo-container {
  display: flex;
  align-items: flex-end;
}

.deco-line {
  height: 10px;
  width: 150px;
  position: absolute;
  bottom: -48px;
  left: 20px;
  display: flex;
}

.azul {
  width: 40%;
  height: 100%;
  background-color: #006FB3;
}

.rojo {
  width: 60%;
  height: 100%;
  background-color: #EB3C46;
}

.divider {
  width: 97%;
  height: 17px;
  flex-shrink: 0;
  border-bottom: 1px solid #FFF;
}

#filter-container {
  border: 1px solid var(--color-base-inwhite-primary-80, #3f87d0);
  background: var(--color-gray-ffffff, #FFF);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 300px;
  padding: 17px;
}

.search-bar {
  max-width: 450px;
}

.text-body {
  line-height: 30px;
  color: #373737;
}

.categorias-circle {
  border: 2px solid #0F69C4;
  width: 60px;
  height: 60px;
  transition: box-shadow 0.3s ease;
}
.categorias-circle:hover, .categorias-circle:checked {
  border: 4px solid #3F87D0;
}

#btn-icon i.material-symbols-rounded {
  font-size: 48px;
}

.container-btnCircle {
  width: -moz-min-content;
  width: min-content;
  padding: 5px;
  border-radius: 12px;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}
.container-btnCircle:focus-visible {
  border: 2px solid #001C41;
}

.filter-line {
  width: 97%;
  height: 17px;
  flex-shrink: 0;
  border-bottom: 1px solid var(--color-gray-bbbbbb, #bbb);
}

.btn-limpiar {
  border: 1px solid #871a1a;
  color: #871a1a;
  border-radius: 5px;
  background-color: transparent;
  min-width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-limpiar:hover {
  background-color: #871a1a;
  color: #FFF;
}

.select-dropdown, .sort-dropdown, .filter-dropdown {
  position: relative;
  border: none;
  height: 50px;
  width: 260px;
  display: flex;
  align-items: center;
  border-radius: 0px;
  border: 1px solid #363636;
  background: #FFF;
  font-size: 15px;
  text-align: center;
  padding: 0 10px;
}
.select-dropdown:focus, .select-dropdown:hover, .select-dropdown:active, .sort-dropdown:focus, .sort-dropdown:hover, .sort-dropdown:active, .filter-dropdown:focus, .filter-dropdown:hover, .filter-dropdown:active {
  border: 2px solid #363636;
}
.select-dropdown .dropdown-content, .sort-dropdown .dropdown-content, .filter-dropdown .dropdown-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.select-dropdown i.material-symbols-outlined, .sort-dropdown i.material-symbols-outlined, .filter-dropdown i.material-symbols-outlined {
  align-self: center;
  margin-left: auto;
}

.sort-dropdown {
  border-radius: 0px;
  margin-right: 15px;
}

.panel {
  position: absolute;
  z-index: 1000;
  height: auto;
  overflow-y: auto;
  margin: 0;
  background: #FFF;
  color: #373737;
  width: 260px;
  border: solid 1px #373737;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.panel-sort, .filter-container {
  position: absolute;
  z-index: 1000;
  height: auto;
  overflow-y: auto;
  margin: 0;
  background: #FFF;
  color: #373737;
  width: 260px;
  border: solid 1px #373737;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.panel-filter {
  position: absolute;
  z-index: 1000;
  max-height: 633px;
  overflow-y: auto;
  left: 7%;
}

.btn-limpiar i.material-symbols-outlined,
.info-circle i.material-symbols-outlined {
  vertical-align: middle;
  font-size: 20px;
}

.info-circle i.material-symbols-outlined {
  color: #0F69C4;
  font-size: 24px;
}

.input-search {
  border: 2px solid #363636;
  background: #FFF;
}

#icon-inputSearch i.material-symbols-outlined,
#icon-inputClose i.material-symbols-outlined {
  font-size: 28px;
  justify-self: center;
  padding-top: 5px;
}

#icon-inputSearch i.material-symbols-outlined {
  color: #3f87d0;
}

#icon-inputClose i.material-symbols-outlined {
  color: #871a1a;
}

.form-check-input {
  margin: 0px;
}

input[type=radio] {
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
input[type=radio]:checked {
  background-color: #0F69C4;
}

.list-sort {
  padding: 10px 10px 12px 10px;
  font-size: 16px;
}

.items-sort {
  list-style: none;
  display: flex;
  padding-top: 10px;
}

.form-check-label {
  margin: 0 11px 0 10px;
}

.list-group-item {
  margin: 5px 11px 5px 15px;
}

@media (min-width: 993px) and (max-width: 1190px) {
  .sort-dropdown {
    width: 210px;
    padding: 0 5px;
    margin-right: 12px;
  }
  .filter-dropdown {
    width: 220px;
    font-size: 14px;
    margin-left: 12px;
  }
  .panel-filter {
    left: 12%;
  }
}
@media (min-width: 851px) and (max-width: 992px) {
  .sort-dropdown {
    width: 210px;
    padding: 0 5px;
    margin-right: 12px;
  }
  .filter-dropdown {
    width: 220px;
    font-size: 14px;
    margin-left: 10px;
  }
  .panel-filter {
    left: 12%;
  }
}
@media (min-width: 768px) and (max-width: 850px) {
  .sort-dropdown {
    width: 200px;
    padding: 0 5px;
    margin-right: 12px;
  }
  .filter-dropdown {
    width: 220px;
    font-size: 14px;
    margin-left: 12px;
  }
  .panel-sort {
    margin-right: 15px;
    right: 0;
  }
  .panel-filter {
    left: 5%;
  }
}
@media (min-width: 416px) and (max-width: 576px) {
  .sort-dropdown {
    width: 210px;
    padding: 0 5px;
    margin-right: 12px;
  }
  .filter-dropdown {
    width: 220px;
    font-size: 14px;
    margin-left: 12px;
  }
  .panel-sort {
    right: 0;
    width: 210;
  }
  .panel-filter {
    left: 5%;
  }
}
@media (min-width: 401px) and (max-width: 415px) {
  .sort-dropdown {
    width: 170px;
    padding: 5px;
    margin-right: 12px;
  }
  .filter-dropdown {
    width: 160px;
    font-size: 14px;
    padding: 0 8px;
    margin-left: 12px;
  }
  .panel-sort {
    right: 0;
    top: 80%;
  }
}
@media (min-width: 362px) and (max-width: 400px) {
  .sort-dropdown {
    width: 150px;
    margin-right: 12px;
    margin-bottom: 10px;
  }
  .filter-dropdown {
    width: 150px;
    font-size: 16px;
    padding: 0 8px;
    margin: 0 10px 10px 12px;
  }
  .panel-sort {
    right: 0;
    top: 92%;
  }
}
@media (min-width: 320px) and (max-width: 361px) {
  .sort-dropdown {
    width: 140px;
    padding: 0 5px;
    margin-right: 12px;
  }
  .filter-dropdown {
    width: 140px;
    font-size: 16px;
    padding: 0 8px;
    margin: 0 10px 12px 12px;
  }
  .panel-sort {
    right: 0;
    top: 80%;
  }
}
.card-container {
  justify-content: space-between;
}

.proyect-card {
  border: 2px solid #006FB3;
  border-radius: 0px;
  background-color: transparent;
  max-width: 371px;
  min-width: 321px;
  width: calc(33.3333333333% - 20px);
  margin: 10px;
}

.img-container {
  height: 175px;
  width: 100%;
}

.image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 362px) and (max-width: 400px) {
  .proyect-card {
    border: 2px solid #006FB3;
    border-radius: 0px;
    background-color: transparent;
    max-width: 360px;
    min-width: 310px;
    width: calc(33.3333333333% - 20px);
    margin: 10px;
  }
  .img-container {
    height: 175px;
    width: 100%;
  }
  .image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .card-container {
    justify-content: center;
  }
  .card-container > * {
    margin-right: 10px;
    margin-left: 10px;
  }
}
@media (min-width: 320px) and (max-width: 361px) {
  .proyect-card {
    border: 2px solid #006FB3;
    border-radius: 0px;
    background-color: transparent;
    max-width: 330px;
    min-width: 290px;
    width: calc(33.3333333333% - 20px);
    margin: 10px;
  }
  .img-container {
    height: 175px;
    width: 100%;
  }
  .image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .card-container {
    justify-content: center;
  }
  .card-container > * {
    margin-right: 10px;
    margin-left: 10px;
  }
}
.volver-btn {
  border: none;
  color: #0F69C4;
  background-color: transparent;
  width: 90px;
}

.breadcrumbs {
  font-family: "Roboto";
  color: #0F69C4;
  font-size: 16px;
  font-weight: 400;
}

.descripcion-container {
  background-color: #EEEEEE;
}

.img-proyecto {
  background-color: grey;
  width: 95%;
  height: 350px;
  flex-shrink: 0;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.detalles-proyecto {
  background-color: #0F69C4;
  height: 41px;
}

.grey-table-line {
  background-color: #EEE;
}

.white-table-line {
  background-color: transparent;
}

.img-portada {
  max-width: 950px;
  border-radius: 5px;
}

.img-portada:hover {
  opacity: 0.9;
}

.miniatura {
  height: 100px;
  width: 100px;
  border-radius: 5px;
  background-color: grey;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

.miniatura:hover {
  opacity: 0.9;
}

.thumbnail-counter-overlay {
  display: none;
}

@media (min-width: 792px) {
  .mini-container {
    height: 190px;
    overflow: hidden;
  }
  .miniatura {
    height: 180px;
    width: 180px;
  }
  .thumbnail-counter-overlay {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    padding-top: 35%;
    border-radius: 4px;
    font-family: "Roboto Slab";
    color: #FFF;
    font-size: 49px;
    font-style: normal;
    font-weight: 700;
    line-height: 61.04px;
  }
}
.custom-close-button {
  border: none;
  background-color: transparent;
  align-self: flex-end;
  color: grey;
}

.imagen {
  height: 150px;
  width: 150px;
  border-radius: 5px;
  background-color: lightblue;
  -o-object-fit: cover;
     object-fit: cover;
}

.input-s {
  height: 60px;
}

.input-l {
  height: 150px;
}

.custom-select {
  background-color: transparent;
  color: #8a8a8a;
  border: 1px solid #8a8a8a;
  height: 60px;
}

@media (min-width: 576px) {
  .input-container {
    position: relative;
  }
  .input-label {
    position: absolute;
    top: -12px; /* Ajusta distancia vertical */
    left: 10px; /* Ajusta distancia horizontal */
    background-color: #FFF;
    padding: 0 7px;
  }
}
.btn-dropdown {
  position: relative;
  border: none;
  height: 50px;
  width: 260px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #363636;
  background: #FFF;
  font-size: 15px;
  text-align: center;
  padding: 0 10px;
}
.btn-dropdown:focus, .btn-dropdown:hover, .btn-dropdown:active {
  border: 2px solid #006FB3;
}
.btn-dropdown .dropdown-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.btn-dropdown i.material-symbols-outlined {
  align-self: center;
  margin-left: auto;
}

.active-option {
  background-color: #0F69C4;
  color: #FFF;
}

.panel-dropdown {
  position: absolute;
  height: auto;
  margin: 0;
  background: #FFF;
  color: #373737;
  width: 260px;
  border: solid 1px #373737;
  margin-top: 70px;
  z-index: 9999;
}

.panel-dropdown ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.panel-dropdown li {
  padding: 0;
  margin: 0;
}

.dropdown-option {
  display: block;
  width: 100%;
  text-align: left;
  border: none;
  background-color: transparent;
  padding: 10px;
  cursor: pointer;
  color: #373737;
  text-decoration: none;
}

.dropdown-option:hover {
  background-color: #A8B7c7;
  color: #FFF;
}

.active-option {
  background-color: #006FB3;
  color: #FFF;
}

.container-fluid {
  min-width: 900px;
}

.sidebar {
  display: flex;
  width: 280px;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #FFF;
  align-items: center;
  flex-shrink: 0;
  top: 0%;
  padding: 16px 16px 0px 16px;
}

.title-siderbar {
  font-family: Roboto;
  line-height: 28px;
  font-family: Roboto Slab;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.title-section {
  color: #656565;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

i.material-symbols-outlined,
span.material-symbols-outlined {
  align-self: center;
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

.text-link {
  color: #0F69C4;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  vertical-align: middle;
  text-decoration: underline;
}
.text-link:hover, .text-link:focus {
  color: #093F75;
}

a.btn-link {
  display: flex;
  width: 248px;
  align-items: center;
  height: 48px;
  color: #0F69C4;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  vertical-align: middle;
  text-decoration: none;
}
a.btn-link:hover, a.btn-link:focus {
  color: #093F75;
  background-color: #CFE1F3;
}

.badge-notification {
  display: flex;
  padding: 4.2px 7.8px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: #871a1a;
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}

.btn-sidebar, .btn-open {
  display: flex;
  padding: 0px 15px;
  justify-content: center;
  height: 48px;
  align-items: center;
  gap: 10px;
  border: 1px solid #0F69C4;
  background-color: #FFF;
  color: #0F69C4;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}

.btn-sidebar {
  width: 248px;
}
.btn-sidebar:hover, .btn-sidebar:focus {
  background-color: #0F69C4;
  color: #FFF;
  border: 3px solid #3f87d0;
}

.btn-open:hover, .btn-open:focus {
  background-color: #0F69C4;
  color: #FFF;
  border: 1px solid #3f87d0;
}

.btn-logout {
  display: flex;
  padding: 0px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid #871a1a;
  background-color: #FFF;
  color: #871a1a;
}
.btn-logout:hover, .btn-logout:focus {
  border: 1px solid #871a1a;
  background-color: #871a1a;
  color: #FFF;
}

.dropdown-sidebar {
  display: flex;
  background-color: transparent;
  width: 248px;
  padding: 15px;
  padding: 0px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  vertical-align: middle;
}

.circle-user {
  background-color: #001C41;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  margin: 5px 15px 5px 15px;
}

#icon-user span.material-symbols-outlined {
  color: #FFF;
  font-size: 40px;
  margin-left: 2px;
}

#icon-setting span.material-symbols-outlined {
  color: #001C41;
  font-size: 24px;
  margin: 15px 12px 12px 12px;
}

.view-container {
  min-width: auto;
  margin: 0 auto;
}

.ghost-input {
  border: none;
  outline: none;
}

.opt-container {
  border: 1px solid #3f87d0;
  border-radius: 5px;
}

.opt-container:hover {
  outline: 3px solid #3f87d0;
  outline-offset: -2px;
}

.opt-container-active {
  outline: 3px solid #3f87d0;
  outline-offset: -2px;
}

.description-container {
  width: 90%;
  height: -moz-fit-content;
  height: fit-content;
  white-space: pre-wrap;
}

.description-input {
  height: -moz-fit-content;
  height: fit-content;
  min-height: 158px;
}

.img-l-container {
  width: 550px;
  height: 356px;
}

.img-xl-container {
  width: 750px;
  height: 430px;
}

.card-description {
  display: flex;
  flex-direction: column;
  width: 750px;
  height: 300px;
  padding: 15px 0px;
  align-items: flex-start;
  background-color: #EEEEEE;
}

.input-area {
  display: flex;
  flex-direction: column;
  width: 720px;
  height: 258px;
  margin: 10px 12px 13px 14px;
}

.info i.material-symbols-outlined {
  align-self: center;
  font-size: 24px;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.input-group, .input-group-text {
  border-radius: 0% !important;
}

.title-container-edit {
  /* ajusta este valor según tus necesidades */
  min-height: 60px;
}

.title-input-container-edit {
  width: 100%;
  position: relative;
  min-height: 40px;
}

.ghost-input-edit {
  border: none;
  outline: none;
}

input.ghost-input-edit, h3.text-sans-h1 {
  position: absolute;
  top: 0;
  left: 0;
}

.container-detalle {
  width: 750px;
}

.success-container {
  border: 1px solid #006636;
  border-radius: 4px;
  box-shadow: 2px 5px 10px #BBBBBB;
  margin-left: 10%;
}

.modal-content {
  border: 1px solid #0F69C4 !important;
  border-radius: 0px !important;
}

.modal-dialog {
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.modal-detalle {
  display: flex;
  padding: 0px 15px;
  width: 800px;
  height: 800px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.detalle-content {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.btn-borderless {
  color: #0F69C4;
  background-color: transparent;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  border: none;
}

.btn-borderless-white {
  color: #FFF;
  background-color: transparent;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  border: none;
}

.btn-borderless-red {
  color: #871a1a;
  background-color: transparent;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  border: none;
}

.modal-archivos {
  display: flex;
  min-width: 600px;
  padding: 0px 15px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.file-name {
  display: flex;
  background: #EEEEEE;
  width: 525px;
  height: 66px;
  padding: 8px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.img-section {
  position: relative;
  color: #656565;
  border: 1px dashed #CFE1F3;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-section-s {
  color: #656565;
  border: 1px dashed #CFE1F3;
  height: 150px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.upload-image {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.image-container:hover .upload-image {
  filter: blur(5px);
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(101, 101, 101, 0.2);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  display: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.upload-image:hover + .overlay {
  display: flex;
}

.modal-uploadImg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(55, 55, 55, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalImg-content {
  background-color: #FFF;
  padding: 40px 10px 10px 10px;
  border-radius: 0px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px 100px 100px 400px;
}

.img-modal {
  width: 1000px;
  height: 720px;
  flex-shrink: 0;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  max-height: 80vh;
}

.btn-close-img {
  position: absolute;
  top: 10px;
  right: 10px;
}

.grid-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  row-gap: 8px;
  align-self: stretch;
  flex-wrap: wrap;
}

.image-container-fixed {
  position: relative;
  width: 150px;
  height: 150px;
}

.upload-image-fixed {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

.overlay-sm {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparente */
  opacity: 0;
  transition: opacity 0.3s;
}

.image-container-fixed:hover .overlay-sm {
  opacity: 1;
}

.react-datepicker {
  font-family: "Roboto";
  font-size: 0.8rem;
  background-color: #FFF;
  color: #001C41;
  border: 1px solid #006FB3;
  border-radius: 0.3rem;
  display: inline-block;
  position: relative;
}

.react-datepicker__year-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 210px !important;
  height: 160px;
}

.react-datepicker__header {
  text-align: center;
  background-color: #FFF;
  border-bottom: 1px solid #FFF;
  border-top-left-radius: 0.3rem;
  padding: 8px 0;
  position: relative;
  align-items: center;
}

.react-datepicker__navigation {
  align-items: center;
  background: none;
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 4px;
  padding: 5px;
  border: none;
  z-index: 1;
  height: 32px;
  width: 32px;
  text-indent: -999em;
  overflow: hidden;
}

.react-datepicker__year .react-datepicker__year-text {
  display: flex;
  align-items: baseline;
  width: 4rem;
  height: 2rem;
  padding: 5px;
  align-self: center;
  text-align: center;
}

.react-datepicker__year-text--selected {
  border-radius: 0.3rem;
  background-color: #006FB3;
  color: #FFF;
  width: 100%;
}

.view-container {
  min-width: auto;
  margin: 0 auto;
}

.ghost-input {
  border: none;
  outline: none;
}

.opt-container {
  border: 1px solid #3f87d0;
  border-radius: 5px;
}

.opt-container:hover {
  outline: 3px solid #3f87d0;
  outline-offset: -2px;
}

.opt-container-active {
  outline: 3px solid #3f87d0;
  outline-offset: -2px;
}

.description-container {
  width: 90%;
  height: -moz-fit-content;
  height: fit-content;
  white-space: pre-wrap;
}

.description-input {
  height: -moz-fit-content;
  height: fit-content;
  min-height: 158px;
}

.img-l-container {
  width: 550px;
  height: 356px;
}

.img-xl-container {
  width: 750px;
  height: 430px;
}

.card-description {
  display: flex;
  flex-direction: column;
  width: 750px;
  height: 300px;
  padding: 15px 0px;
  align-items: flex-start;
  background-color: #EEEEEE;
}

.input-area {
  display: flex;
  flex-direction: column;
  width: 720px;
  height: 258px;
  margin: 10px 12px 13px 14px;
}

.info i.material-symbols-outlined {
  align-self: center;
  font-size: 24px;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.input-group, .input-group-text {
  border-radius: 0% !important;
}

.title-container-edit {
  /* ajusta este valor según tus necesidades */
  min-height: 60px;
}

.title-input-container-edit {
  width: 100%;
  position: relative;
  min-height: 40px;
}

.ghost-input-edit {
  border: none;
  outline: none;
}

input.ghost-input-edit, h3.text-sans-h1 {
  position: absolute;
  top: 0;
  left: 0;
}

.container-detalle {
  width: 750px;
}

.success-container {
  border: 1px solid #006636;
  border-radius: 4px;
  box-shadow: 2px 5px 10px #BBBBBB;
  margin-left: 10%;
}

.incompleto {
  font-family: "Roboto";
  color: #373737;
  font-size: 14px;
  font-weight: 700;
  background-color: #CFE1F3;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 4px;
}

.pendiente {
  font-family: "Roboto";
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  background-color: #F56B0F;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 4px;
}

.rechazado {
  font-family: "Roboto";
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  background-color: #871a1a;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 4px;
}

.privado {
  font-family: "Roboto";
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  background-color: #656565;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 4px;
}

.publicado {
  font-family: "Roboto";
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  background-color: #0F69C4;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 4px;
}

.action-btn {
  font-family: "Roboto";
  color: #373737;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  background-color: #BBBBBB;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 4px;
}

.sort-estado-btn {
  border: none;
  background-color: transparent;
}

.sort-estado-btn:hover {
  border: 1px solid #CFE1F3;
  border-radius: 4px;
}

.container-home {
  display: flex;
  width: auto;
  height: auto;
  padding: 24px;
  align-items: flex-start;
  gap: 16px;
  flex-shrink: 0;
  background: rgba(207, 225, 243, 0.35);
}

.container-credential {
  display: flex;
  width: 1060px;
  flex-direction: column;
  align-items: flex-start;
  gap: 1px;
  border-radius: 4px;
  padding: 16px;
  gap: 10px;
  align-self: stretch;
  border: 1px solid #CFE1F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 4px 4px 0px 0px;
  background: #FFF;
}

.container-notification {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 1px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.title-notification {
  display: flex;
  padding: 16px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  background: #F8F8F8;
}

.body-notification {
  display: flex;
  padding: 16px 0px 16px 0px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 8px;
  align-self: stretch;
  border-radius: 0px 0px 4px 4px;
  background: #FFF;
}

.container-history {
  display: flex;
  width: 400px;
  flex-direction: column;
  align-items: flex-start;
  gap: 1px;
  border-radius: 4px;
  border: 1px solid #CFE1F3;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.title-history {
  display: flex;
  padding: 16px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  background: #F8F8F8;
}

.body-history {
  display: flex;
  padding: 16px 0px 16px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  background: #FFF;
}

.item-notification {
  padding: 0;
}/*# sourceMappingURL=styles.css.map */