.text-serif-h1 {
  font-family: "Roboto Slab";
  color: #373737;
  font-size: 49px;
}

.text-serif-h2 {
  font-family: "Roboto Slab";
  color: #373737;
  font-size: 31px;
  font-weight: 700;
}

.text-serif-h3 {
  font-family: "Roboto Slab";
  color: #373737;
  font-size: 24px;
  font-weight: 700;
}

.text-sans-h1 {
  font-family: "Roboto";
  color: #373737;
  font-size: 39px;
  font-weight: 500;
}

.text-sans-h2 {
  font-family: "Roboto";
  color: #373737;
  font-size: 31px;
  font-weight: 500;
}

.text-sans-h2-white {
  font-family: "Roboto";
  color: #FFF;
  font-size: 31px;
  font-weight: 500;
}

.text-sans-h3 {
  font-family: "Roboto";
  color: #373737;
  font-size: 25px;
  font-weight: 500;
}

.text-sans-h4 {
  font-family: "Roboto";
  color: #373737;
  font-size: 20px;
  font-weight: 600;
}

.text-sans-h4-white {
  font-family: "Roboto";
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
}

.text-sans-h5 {
  font-family: "Roboto";
  color: #373737;
  font-size: 14px;
  font-weight: 400;
}

.text-sans-h5-bold {
  font-family: "Roboto";
  color: #373737;
  font-size: 14px;
  font-weight: 700;
}

.text-sans-h5-blue {
  font-family: "Roboto";
  color: #006FB3;
  font-size: 14px;
  font-weight: 400;
}

.text-sans-h5-red {
  font-family: "Roboto";
  color: #871a1a;
  font-size: 14px;
  font-weight: 400;
}

.text-sans-p {
  font-family: "Roboto";
  color: #373737;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.text-sans-p-blue {
  font-family: "Roboto";
  color: #0F69C4;
  font-size: 16px;
  font-weight: 400;
}

.text-sans-p-tertiary {
  font-family: "Roboto";
  color: #001C41;
  font-size: 16px;
  font-weight: 400;
}

.text-sans-p-white {
  font-family: "Roboto";
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
}

.line {
  width: 80%;
  height: 3px;
  display: flex;
}

.blue {
  width: 50%;
  height: 100%;
  background-color: #006FB3;
}

.red {
  width: 50%;
  height: 100%;
  background-color: #E22C2C;
}

.btn-principal-s {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #0F69C4;
  border: none;
  color: #FFF;
  padding: 13px;
  height: -moz-fit-content;
  height: fit-content;
}

.btn-principal-l {
  width: 90%;
  background-color: #0F69C4;
  border: none;
  color: #FFF;
  padding: 13px;
}

.btn-principal-xl {
  width: 100%;
  background-color: #0F69C4;
  border: none;
  color: #FFF;
  padding: 13px;
}

.btn-secundario-s {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #FFF;
  border: 2px solid #0F69C4;
  color: #0F69C4;
  padding: 13px;
}

.btn-secundario-s:hover {
  background-color: #0F69C4;
  color: #FFF;
}

.btn-secundario-s:focus {
  background-color: #0F69C4;
  color: #FFF;
}

.btn-secundario-l {
  width: 100%;
  background-color: #FFF;
  border: 2px solid #0F69C4;
  color: #0F69C4;
  padding: 13px;
}

.btn-secundario-l:hover {
  background-color: #0F69C4;
  color: #FFF;
}

.btn-terciario {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #FFF;
  color: #0F69C4;
  border: 2px solid #0F69C4;
  border-radius: 32px;
}

.btn-terciario:hover {
  background-color: #0F69C4;
  color: #FFF;
}

.selected-button {
  background-color: #0F69C4;
  color: #FFF;
}

.custom-pagination-btn {
  border: none;
  background-color: transparent;
  color: #0F69C4;
}

.custom-pagination-btn.active {
  background-color: #0F69C4;
  color: #FFF;
}

.select-box {
  border: 2px solid #373737;
  border-radius: 5px;
  background-color: #FFF;
}

.select-option {
  border: none;
  background-color: transparent;
  color: #373737;
}

.select-option:hover {
  background-color: #0F69C4;
  color: #FFF;
}

.tag {
  border: 1px solid #0F69C4;
  background-color: transparent;
  color: #0F69C4;
}

#btn-icon:hover #btnIcon {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(1%) hue-rotate(210deg) brightness(102%) contrast(101%);
}

#btn-icon:focus-visible #btnIcon {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7499%) hue-rotate(262deg) brightness(103%) contrast(102%);
}

.btn-outline-primary:hover #btnIcon {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7499%) hue-rotate(262deg) brightness(103%) contrast(102%);
}

.btn-outline-primary:active #btnIcon {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7499%) hue-rotate(262deg) brightness(103%) contrast(102%);
}

.btn-outline-primary:focus-visible #btnIcon {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7499%) hue-rotate(262deg) brightness(103%) contrast(102%);
}

.white-icon {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(1%) hue-rotate(210deg) brightness(102%) contrast(101%);
}

.white-icon:hover {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(1%) hue-rotate(210deg) brightness(102%) contrast(101%);
}

.white-icon:active {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(1%) hue-rotate(210deg) brightness(102%) contrast(101%);
}

.white-icon:focus-visible {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(1%) hue-rotate(210deg) brightness(102%) contrast(101%);
}

.alerta {
  border: 2px solid #F56B0F;
  border-radius: 0px;
  padding: 15px;
}

#icon-alert i.material-symbols-outlined {
  font-size: 48px;
  color: #F56B0F;
  align-self: flex-start;
}

.text-alert {
  color: #001C41;
}

.line-container {
  position: absolute;
  top: 0px;
  height: -moz-fit-content;
  height: fit-content;
  bottom: 0;
  left: 45px;
}

#lineBlue {
  width: 58px;
  height: 8px;
  background-color: #0f69c4;
}

#lineRed {
  width: 82px;
  height: 8px;
  background-color: #E22C2C;
}

.logo-subdere {
  font-family: "Roboto";
  color: #373737;
  font-size: 16px;
  font-weight: 700;
  width: 210px;
  margin-left: 20px;
  text-decoration: none;
}

.menu-btn {
  border: none;
  background-color: transparent;
  color: #373737;
  text-decoration: underline;
}

.menu-modal {
  display: none;
  position: absolute;
  top: 28px;
  right: 0;
  background-color: #093F75;
  z-index: 9999;
  padding: 10px;
  width: 290px;
}

.menu-modal.open {
  display: block;
}

.btn-close-modal {
  border: none;
  background-color: transparent;
  color: #FFF;
  text-decoration: underline;
}

#menu-divider {
  color: #FFF;
}

@media (min-width: 792px) {
  .logo-subdere {
    font-family: "Roboto";
    color: #373737;
    font-size: 20px;
    font-weight: 700;
    width: 280px;
    margin-left: 75px;
  }
  .line-container {
    left: 100px;
  }
}
.categorias-circle {
  border: 1px solid #006FB3;
  width: 65px;
  height: 65px;
}

.categorias-siglas {
  color: #006FB3;
  font-size: 25px;
}

.que-es-circle {
  background-color: rgba(27, 103, 178, 0.4);
  width: 200px;
  height: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.que-es-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.login-container {
  border: none;
}

@media (min-width: 768px) {
  .login-container {
    border: 1px solid #373737;
    border-radius: 5px;
  }
}
.carrusel-containerrr {
  border: 1px solid blue;
  height: -moz-fit-content;
  height: fit-content;
  width: 550px;
}

.footer-container {
  background-color: #001C41;
}

.line-reference {
  position: relative;
}

.logo-container {
  display: flex;
  align-items: flex-end;
}

.deco-line {
  height: 10px;
  width: 150px;
  position: absolute;
  bottom: -48px;
  left: 20px;
  display: flex;
}

.azul {
  width: 40%;
  height: 100%;
  background-color: #006FB3;
}

.rojo {
  width: 60%;
  height: 100%;
  background-color: #EB3C46;
}

.divider {
  width: 97%;
  height: 17px;
  flex-shrink: 0;
  border-bottom: 1px solid #FFF;
}

#filter-container {
  border: 1px solid var(--color-base-inwhite-primary-80, #3f87d0);
  background: var(--color-gray-ffffff, #FFF);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 300px;
  padding: 17px;
}

.search-bar {
  max-width: 450px;
}

.text-body {
  line-height: 30px;
  color: #373737;
}

.categorias-circle {
  border: 2px solid #0F69C4;
  width: 60px;
  height: 60px;
  transition: box-shadow 0.3s ease;
}
.categorias-circle:hover, .categorias-circle:checked {
  border: 4px solid #3F87D0;
}

#btn-icon i.material-symbols-rounded {
  font-size: 48px;
}

.container-btnCircle {
  width: -moz-min-content;
  width: min-content;
  padding: 5px;
  border-radius: 12px;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}
.container-btnCircle:focus-visible {
  border: 2px solid #001C41;
}

.filter-line {
  width: 97%;
  height: 17px;
  flex-shrink: 0;
  border-bottom: 1px solid var(--color-gray-bbbbbb, #bbb);
}

.btn-limpiar {
  border: 1px solid #871a1a;
  color: #871a1a;
  border-radius: 5px;
  background-color: transparent;
  min-width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-limpiar:hover {
  background-color: #871a1a;
  color: #fff;
}

.select-dropdown, .sort-dropdown, .filter-dropdown {
  position: relative;
  border: none;
  height: 50px;
  width: 260px;
  display: flex;
  align-items: center;
  border-radius: 0px;
  border: 1px solid #363636;
  background: #FFF;
  font-size: 15px;
  text-align: center;
  padding: 0 10px;
}
.select-dropdown:focus, .select-dropdown:hover, .select-dropdown:active, .sort-dropdown:focus, .sort-dropdown:hover, .sort-dropdown:active, .filter-dropdown:focus, .filter-dropdown:hover, .filter-dropdown:active {
  border: 2px solid #363636;
}
.select-dropdown .dropdown-content, .sort-dropdown .dropdown-content, .filter-dropdown .dropdown-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.select-dropdown i.material-symbols-outlined, .sort-dropdown i.material-symbols-outlined, .filter-dropdown i.material-symbols-outlined {
  align-self: center;
  margin-left: auto;
}

.sort-dropdown {
  border-radius: 0px;
  margin-right: 15px;
}

.panel {
  position: absolute;
  z-index: 1000;
  height: auto;
  overflow-y: auto;
  margin: 0;
  background: #FFF;
  color: #373737;
  width: 260px;
  border: solid 1px #373737;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.panel-sort, .filter-container {
  position: absolute;
  z-index: 1000;
  height: auto;
  overflow-y: auto;
  margin: 0;
  background: #FFF;
  color: #373737;
  width: 260px;
  border: solid 1px #373737;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.panel-filter {
  position: absolute;
  z-index: 1000;
  max-height: 633px;
  overflow-y: auto;
  left: 7%;
}

.btn-limpiar i.material-symbols-outlined,
.info-circle i.material-symbols-outlined {
  vertical-align: middle;
  font-size: 20px;
}

.info-circle i.material-symbols-outlined {
  color: #0F69C4;
  font-size: 24px;
}

.input-search {
  border: 2px solid #363636;
  background: #FFF;
}

#icon-inputSearch i.material-symbols-outlined,
#icon-inputClose i.material-symbols-outlined {
  font-size: 28px;
  justify-self: center;
  padding-top: 5px;
}

#icon-inputSearch i.material-symbols-outlined {
  color: #3f87d0;
}

#icon-inputClose i.material-symbols-outlined {
  color: #871a1a;
}

.form-check-input {
  margin: 0px;
}

input[type=radio] {
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
input[type=radio]:checked {
  background-color: #0F69C4;
}

.list-sort {
  padding: 10px 10px 12px 10px;
  font-size: 16px;
}

.items-sort {
  list-style: none;
  display: flex;
  padding-top: 10px;
}

.form-check-label {
  margin: 0 11px 0 10px;
}

.list-group-item {
  margin: 5px 11px 5px 15px;
}

@media (min-width: 993px) and (max-width: 1190px) {
  .sort-dropdown {
    width: 210px;
    padding: 0 5px;
    margin-right: 12px;
  }
  .filter-dropdown {
    width: 220px;
    font-size: 14px;
    margin-left: 12px;
  }
  .panel-filter {
    left: 12%;
  }
}
@media (min-width: 851px) and (max-width: 992px) {
  .sort-dropdown {
    width: 210px;
    padding: 0 5px;
    margin-right: 12px;
  }
  .filter-dropdown {
    width: 220px;
    font-size: 14px;
    margin-left: 10px;
  }
  .panel-filter {
    left: 12%;
  }
}
@media (min-width: 768px) and (max-width: 850px) {
  .sort-dropdown {
    width: 200px;
    padding: 0 5px;
    margin-right: 12px;
  }
  .filter-dropdown {
    width: 220px;
    font-size: 14px;
    margin-left: 12px;
  }
  .panel-sort {
    margin-right: 15px;
    right: 0;
  }
  .panel-filter {
    left: 5%;
  }
}
@media (min-width: 416px) and (max-width: 576px) {
  .sort-dropdown {
    width: 210px;
    padding: 0 5px;
    margin-right: 12px;
  }
  .filter-dropdown {
    width: 220px;
    font-size: 14px;
    margin-left: 12px;
  }
  .panel-sort {
    right: 0;
    width: 210;
  }
  .panel-filter {
    left: 5%;
  }
}
@media (min-width: 401px) and (max-width: 415px) {
  .sort-dropdown {
    width: 170px;
    padding: 5px;
    margin-right: 12px;
  }
  .filter-dropdown {
    width: 160px;
    font-size: 14px;
    padding: 0 8px;
    margin-left: 12px;
  }
  .panel-sort {
    right: 0;
    top: 80%;
  }
}
@media (min-width: 362px) and (max-width: 400px) {
  .sort-dropdown {
    width: 150px;
    margin-right: 12px;
    margin-bottom: 10px;
  }
  .filter-dropdown {
    width: 150px;
    font-size: 16px;
    padding: 0 8px;
    margin: 0 10px 10px 12px;
  }
  .panel-sort {
    right: 0;
    top: 92%;
  }
}
@media (min-width: 320px) and (max-width: 361px) {
  .sort-dropdown {
    width: 140px;
    padding: 0 5px;
    margin-right: 12px;
  }
  .filter-dropdown {
    width: 140px;
    font-size: 16px;
    padding: 0 8px;
    margin: 0 10px 12px 12px;
  }
  .panel-sort {
    right: 0;
    top: 80%;
  }
}
.card-container {
  justify-content: space-between;
}

.proyect-card {
  border: 2px solid #006FB3;
  border-radius: 0px;
  background-color: transparent;
  max-width: 371px;
  min-width: 321px;
  width: calc(33.3333333333% - 20px);
  margin: 10px;
}

.img-container {
  height: 175px;
  width: 100%;
}

.image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 362px) and (max-width: 400px) {
  .proyect-card {
    border: 2px solid #006FB3;
    border-radius: 0px;
    background-color: transparent;
    max-width: 360px;
    min-width: 310px;
    width: calc(33.3333333333% - 20px);
    margin: 10px;
  }
  .img-container {
    height: 175px;
    width: 100%;
  }
  .image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .card-container {
    justify-content: center;
  }
  .card-container > * {
    margin-right: 10px;
    margin-left: 10px;
  }
}
@media (min-width: 320px) and (max-width: 361px) {
  .proyect-card {
    border: 2px solid #006FB3;
    border-radius: 0px;
    background-color: transparent;
    max-width: 330px;
    min-width: 290px;
    width: calc(33.3333333333% - 20px);
    margin: 10px;
  }
  .img-container {
    height: 175px;
    width: 100%;
  }
  .image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .card-container {
    justify-content: center;
  }
  .card-container > * {
    margin-right: 10px;
    margin-left: 10px;
  }
}
.volver-btn {
  border: none;
  color: #0F69C4;
  background-color: transparent;
  width: 90px;
}

.breadcrumbs {
  font-family: "Roboto";
  color: #0F69C4;
  font-size: 16px;
  font-weight: 400;
}

.descripcion-container {
  background-color: #EEEEEE;
}

.img-proyecto {
  background-color: grey;
  width: 95%;
  height: 350px;
  flex-shrink: 0;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.detalles-del-proyecto {
  background-color: #0F69C4;
  height: 41px;
}

.grey-table-line {
  background-color: #EEE;
}

.white-table-line {
  background-color: transparent;
}

.img-portada {
  max-width: 950px;
  border-radius: 5px;
}

.img-portada:hover {
  opacity: 0.9;
}

.miniatura {
  height: 100px;
  width: 100px;
  border-radius: 5px;
  background-color: grey;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

.miniatura:hover {
  opacity: 0.9;
}

.thumbnail-counter-overlay {
  display: none;
}

@media (min-width: 792px) {
  .mini-container {
    height: 190px;
    overflow: hidden;
  }
  .miniatura {
    height: 180px;
    width: 180px;
  }
  .thumbnail-counter-overlay {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    padding-top: 35%;
    border-radius: 4px;
    font-family: "Roboto Slab";
    color: #FFF;
    font-size: 49px;
    font-style: normal;
    font-weight: 700;
    line-height: 61.04px;
  }
}
.custom-close-button {
  border: none;
  background-color: transparent;
  align-self: flex-end;
  color: grey;
}

.imagen {
  height: 150px;
  width: 150px;
  border-radius: 5px;
  background-color: lightblue;
  -o-object-fit: cover;
     object-fit: cover;
}

.input-s {
  height: 60px;
}

.input-l {
  height: 150px;
}

.custom-select {
  background-color: transparent;
  color: #8a8a8a;
  border: 1px solid #8a8a8a;
  height: 60px;
}

@media (min-width: 576px) {
  .input-container {
    position: relative;
  }
  .input-label {
    position: absolute;
    top: -12px; /* Ajusta distancia vertical */
    left: 10px; /* Ajusta distancia horizontal */
    background-color: #FFF;
    padding: 0 7px;
  }
}
.btn-dropdown {
  position: relative;
  border: none;
  height: 50px;
  width: 260px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #363636;
  background: #FFF;
  font-size: 15px;
  text-align: center;
  padding: 0 10px;
}
.btn-dropdown:focus, .btn-dropdown:hover, .btn-dropdown:active {
  border: 2px solid #006FB3;
}
.btn-dropdown .dropdown-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.btn-dropdown i.material-symbols-outlined {
  align-self: center;
  margin-left: auto;
}

.active-option {
  background-color: #0F69C4;
  color: #FFF;
}

.panel-dropdown {
  position: absolute;
  height: auto;
  margin: 0;
  background: #FFF;
  color: #373737;
  width: 260px;
  border: solid 1px #373737;
  margin-top: 70px;
  z-index: 9999;
}

.panel-dropdown ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.panel-dropdown li {
  padding: 0;
  margin: 0;
}

.dropdown-option {
  display: block;
  width: 100%;
  text-align: left;
  border: none;
  background-color: transparent;
  padding: 10px;
  cursor: pointer;
  color: #373737;
  text-decoration: none;
}

.dropdown-option:hover {
  background-color: #A8B7c7;
  color: #FFF;
}

.active-option {
  background-color: #006FB3;
  color: #FFF;
}

.sidebar {
  display: flex;
  width: 280px;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #FFF;
  align-items: center;
  flex-shrink: 0;
  top: 0%;
}

.view-container {
  min-width: 1000px;
  margin: 0 auto;
  overflow-x: auto;
}

.opt-container {
  border: 1px solid #3f87d0;
  border-radius: 5px;
}

.opt-container:hover {
  outline: 3px solid #3f87d0;
  outline-offset: -2px;
}

.contador-circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: transparent;
  border: 4px solid #BBB;
  color: #373737;
}

.contador-circle-active {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #0F69C4;
  color: white;
}

.contador-line {
  background-color: #9FC3E7;
  height: 3px;
  width: 81px;
}

.contador-line-active {
  background-color: #0F69C4;
  height: 3px;
  width: 81px;
}/*# sourceMappingURL=styles.css.map */