.subderegreen {
    background-color: #25b3c2;
}

.color-text-1 {
    color: white;
}

.logohight {
    max-width: 70px;
}

.navbardist {
    padding-bottom: 60px;
 }

 .browsericon {
    font-size: 40px;
}

.subderecolor {
    color: #25b3c2;
}