.subderegreen {
    background-color: #25b3c2;
}

.color-text-1 {
    color: white;
}

.logohight {
    max-width: 70px;
}

.navbardist {
    padding-bottom: 60px;
 }

 .browsericon {
    font-size: 40px;
}

.subderecolor {
    color: #25b3c2;
}

.truncate2 {
    overflow:hidden;
    line-height: 2rem;
    max-height: 8rem;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
  }