<!DOCTYPE html>
<html lang="en">
{% load static %}
{% include 'projects/modules/head.html' %}

<body class="">

    {% include 'projects/modules/navbar.html' %}
    <!-- Botón de búsqueda Init -->
    <div class="container mt-4 navbardist"> 
        <h1 class="subderecolor center">Busca un proyecto y descarga</h1>
        <img src="{% static 'images\aplicacion_web_v2-01_0.png' %}" class="img-fluid">
        <div class="row d-flex justify-content-center"> 
          <div class="col-md-9"> 
            <div class="card p-4 mt-3"> 
                <a href="{% url 'projects:search' %}"><button type="button" class="btn btn-secondary btn-lg subderegreen">Buscar Proyectos. <i class="fa-solid fa-magnifying-glass"></i></a>
                </button>       
            </div> 
          </div> 
        </div> 
      </div>
    <!-- Botón de búsqueda end -->
    <!-- Presentación Init -->
      <div class="container navbardist">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="text-center">Zigzag Timeline Layout (and Cats)</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <ul class="timeline">
              <li>
                <div class="timeline-image center">
                    <i class="fa-solid fa-question landingicon"></i>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>1</h4>
                    <h4 class="subheading">¿Que es?</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">
                      El Banco de proyectos de la SUBDERE es un repositorio de proyectos referenciales, que entrega la documentación necesaria para la fomulación de proyectos, para postular al Programa de Mejoramiento Urbano y Programa de Mejoramiento de Barrios de la Subsecretaría de Desarrollo Regional y Administrativo.
                    </p>
                  </div>
                </div>
                <div class="line"></div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image center">
                    <i class="fa-solid fa-code-fork landingicon"></i>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2</h4>
                    <h4 class="subheading">¿A quién va dirigido?</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">
                      A todo profesional municipal encargado de la formulación de proyectos de infraestructura que se enmarquen en los programas PMU y PMB.
                    </p>
                  </div>
                </div>
                <div class="line"></div>
              </li>
              <li>
                <div class="timeline-image center">
                    <i class="fa-solid fa-file-arrow-down landingicon"></i>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>3</h4>
                    <h4 class="subheading">¿Cómo funciona?</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">
                      Filtra y busca el tipo de proyectos que quieres desarrollar para tu comuna. Revisa sus antecedentes y resultados. Descarga documentación tipo y referencial para poder postular un proyecto que se ajuste a la realidad de tu comuna.
                    </p>
                  </div>
                </div>
                <div class="line"></div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image center">
                    <i class="fa-regular fa-paper-plane landingicon"></i>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>4</h4>
                    <h4 class="subheading">¿Que información entrega?</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">
                      La información se clasifica en dos secciones: Información específica de los proyectos referenciales (planos, especificaciones técnicas, presupuestos), y la información referencial para la elaboración de proyectos. (planos modulares en DWG, formularios, guías de diseño, presupuestos generales. </br> Esta información podrá variar dependiendo del tipo de proyecto buscado.
                    </p>
                  </div>
                </div>
                <div class="line"></div>
              </li>
              <li>
                <div class="timeline-image center">
                    <i class="fa-solid fa-landmark landingicon"></i>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>5</h4>
                    <h4 class="subheading">¿Quienes somos?</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">
                      El banco de proyectos es una iniciativa directa de la SUBDERE. Siendo permanentemente evaluada y actualizada su información.
                    </p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    <!-- Presentación end --> 
</body>

{% include 'projects/modules/footer.html' %}

</html>