<!DOCTYPE html>
<html lang="en">

{% include 'projects/modules/head.html' %}

<body class="">

    {% include 'projects/modules/navbar.html' %}
    <div class="container mt-4 navbardist"> 
        <div class="row d-flex justify-content-center"> 
          <div class="col-md-9"> 
            <div class="card p-4 mt-3"> 
                <h2>Busca un proyecto y descarga</h2>
                <a href="{% url 'projects:search' %}"><button type="button" class="btn btn-primary btn-lg">Ir al Buscador  <i class="fa-solid fa-magnifying-glass"></i></a>
                </button>       
            </div> 
          </div> 
        </div> 
      </div>
    



    
</body>

{% include 'projects/modules/footer.html' %}

</html>