{% load static %}

<form method="get">
<div class="filter">
  <div class="filter-head">
    <p class="font-level-2 my-1 ">Filtrar</p>
    <a class="btn-clean-filter " href="{% url 'projects_app:project-list' %}?show_all=true">Limpiar filtro <i class="fa fa-trash"></i></a>
  </div>
  <div class="filter-program">
  <div class="text-filter-program">
    <p class="font-level-6 my-1">¿En qué programa se encuentra el proyecto que buscas?</p>
    <p class="font-level-7 my-1">Puedes elegir más de uno.</p>
  </div>
  <div class="category cols-12 row text-center">
    <div class="col-md">
      <label class="btn btn-outline-primary rounded-circle text-decoration-none font-weight-bold font-level-6">
        <input type="checkbox" name="program" value="1"> PMU
      </label>
      <br>
      <span class="font-level-7 font-weight-bold">Programa Mejoramiento Urbano</span>
    </div>
    <div class="col-md">
      <label class="btn btn-outline-primary rounded-circle text-decoration-none font-weight-bold font-level-6">
        <input type="checkbox" name="program" value="2"> PMB
      </label>
      <br>
      <span class="font-level-7 font-weight-bold">Programa Mejoramiento de Barrios</span>
    </div>
  </div>
</div>
  <div class="filter-location">
    <div class="form-group">
      <label class="font-level-6 my-1">¿En qué región?</label>
      <select multiple class="form-control" name="region">
        <optgroup label="Regiones">
        {% for region in projects %}
          <option value="{{region.comuna.region.id}}">{{ region.comuna.region }}</option>
        {% endfor %}
        </optgroup>
      </select>
    </div>
    <div class="form-group">
      <label class="font-level-6 my-1">¿En que comuna?</label>
      <select multiple class="form-control" name="comuna">
        <optgroup label="Comunas">
        {% for comuna in projects %}
          <option value="{{comuna.comuna.id}}">{{ comuna.comuna }}</option>
        {% endfor %}
        </optgroup>
      </select>
    </div>
  </div>
  <div class="filter-type">
    <label class="font-level-6 my-2">¿Qué tipo de proyecto es?</label>
    <div class="cols-12 row text-center my-3">
      <div class="col-6 my-1">
        <a class="btn btn-outline-primary rounded-circle btn-md"
          href="{% url 'projects_app:project-list' %}?show_all=true">
          <span class="cl cl-list font-level-2 my-1 mx-2"><span /></a>
        <br>
        <span class="font-level-7 font-weight-bold">Plazas y áreas verdes</span>
      </div>
      <div class="col-6 my-2">
        <a class="btn btn-outline-primary rounded-circle btn-md"
          href="{% url 'projects_app:project-list' %}?show_all=true">
          <span class="cl cl-list font-level-2 my-1 mx-2"><span /></a>
        <br>
        <span class="font-level-7 font-weight-bold">Infraestructura deportiva</span>
      </div>
      <div class="col-6 my-2">
        <a class="btn btn-outline-primary rounded-circle btn-md"
          href="{% url 'projects_app:project-list' %}?show_all=true">
          <span class="cl cl-list font-level-2 my-1 mx-2"><span /></a>
        <br>
        <span class="font-level-7 font-weight-bold">Centros Salud</span>
      </div>
      <div class="col-6 my-2">
        <a class="btn btn-outline-primary rounded-circle btn-md"
          href="{% url 'projects_app:project-list' %}?show_all=true">
          <span class="cl cl-list font-level-2 my-1 mx-2"><span /></a>
        <br>
        <span class="font-level-7 font-weight-bold">Veredas y ciclovías</span>
      </div>
    </div>
  </div>
  <div class="filter-years my-3">
    <div>
      <label class="font-level-6 my-3">¿Qué años de construcción quieres ver?</label>
    </div>
    <div class="form-group">
      <div class="custom-control custom-checkbox">
        <input class="custom-control-input" id="customCheckExample" type="checkbox" />
        <label class="custom-control-label" for="customCheckExample">2018</label>
      </div>
    </div>
  </div>
  <div>
    <button class="btn-filter my-5" type="submit" name="show_results">Mostrar resultados <i class="fa fa-check" aria-hidden="true"></i></button>
  </div>
</div>
</form>