{% load static %}

<div class="container my-4">
  <p class="font-level-4">Imágenes del proyecto</p>

    <!-- Imagen portada -->
    <div class="container d-none d-sm-block"> <!-- Hides on xs, shows on sm and larger -->
      <div class="row my-4 image-container">
        <div class="col image-container image-portada">
          <img class="portada-img" src="{{ portada }}" alt="img-miniatura" />
        </div>
      </div>
    </div>

    <!-- Resto de imágenes -->
    <!-- En image. colocar el "nombre del parámetro imagen de la base de datos".url -->
    <div class="container">
      <div class="row flex-nowrap flex-wrap-xs justify-content-start image-container"> <!-- Added .flex-wrap-xs here -->
        <div class="col col-md-4 col-sm-6 col-12 image-container img-carousel"> <!-- Updated col-xs-6 to col-xs-12 -->
            <img src="{{ portada }}" alt="img-miniatura" />
          </div>
        {% for image in images %}
          <div class="col col-md-4 col-sm-6 col-12 image-container img-carousel"> <!-- Updated col-xs-6 to col-xs-12 -->
            <img src="{{ image.image_carousel.url }}" alt="img-miniatura" />
          </div>
        {% endfor %}
      </div>
    </div>
</div>