{% load static %}

<div class="container my-4">
  <p class="font-level-2 text-center text-lg-left my-4">Imágenes del proyecto</p>

    <!-- Imagen portada -->
    <div class="container d-none d-sm-block"> <!-- Hides on xs, shows on sm and larger -->
      <div class="row my-4 image-container">
        <div class="col image-container image-portada">
          <img class="portada-img" src="{{ portada }}" alt="img-miniatura" />
        </div>
      </div>
    </div>

    <!-- Resto de imágenes -->
    <!-- En image. colocar el "nombre del parámetro imagen de la base de datos".url -->
    <div class="container my-5">
      <div class="row flex-nowrap flex-wrap-xs justify-content-start image-container"> <!-- Added .flex-wrap-xs here -->
        <div class="col col-md-4 col-sm-6 col-12 image-container img-carousel"> <!-- Updated col-xs-6 to col-xs-12 -->
            <img class="portada-miniature" src="{{ portada }}" alt="img-miniatura" />
          </div>
        {% for image in images %}
          <div class="col col-md-4 col-sm-6 col-xs-12 image-container img-carousel carousel-item"> <!-- Added carousel-item class -->
            <img src="{{ image.image_carousel.url }}" alt="img-miniatura" />
            <div class="image-counter"></div> <!-- Added placeholder for counter -->
          </div>
        {% endfor %}
      </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img id="imageInModal" src="" alt="Selected image" class="img-fluid">  <!-- Image will be inserted here -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="previousImage">Previous</button>
        <button type="button" class="btn btn-secondary" id="nextImage">Next</button>
      </div>
    </div>
  </div>
</div>


<script>
$(document).ready(function() {
  function updateCounter() {
    var windowWidth = $(window).width();
    var counter = 0;

    // Count and hide image counter
    $('.carousel-item').each(function() {
      var offset = $(this).offset();
      if (offset.left + $(this).width() > windowWidth) {
        counter++;
      }
      $('.image-counter', this).hide(); // hide the counter
    });

    console.log("Number of hidden images: " + counter);
    console.log("Total number of images: " + $('.carousel-item').length);

    // Display counter on last visible item
    if (counter > 0) {
      var lastVisibleItem = $('.carousel-item').slice(-counter-1, -counter);
      lastVisibleItem.find('.image-counter').text('+' + counter).show(); // show the counter
      console.log("Counter displayed with value " + counter + " on last visible image at offset " + lastVisibleItem.offset().left);
    }
  }

  $(window).on('resize', updateCounter).resize();  // Trigger the function on page load and resize
});
</script>

<script>
$(document).ready(function() {
  var currentImageIndex = 0; // to keep track of current image
  var images = []; // to store all the images

  // Collect all images from the carousel, the cover image, and the miniature image
  $('.carousel-item img, .image-portada img, .portada-miniature').each(function() {
    var imgSrc = $(this).attr('src');
    if (!images.includes(imgSrc)) {  // Check if the image is not already in the array
      images.push(imgSrc);
    }
  });

  // Function to change image
  function changeImage(index) {
    $('#imageInModal').attr('src', images[index]);
    currentImageIndex = index;
  }

  // Show clicked image in modal
  $('.carousel-item img, .image-portada img, .portada-miniature').on('click', function() {
    var imgSrc = $(this).attr('src');
    var index = images.indexOf(imgSrc);  // Get the index of the clicked image from the array
    changeImage(index);
    $('#imageModal').modal('show');
  });

  // Handle previous and next buttons
  $('#previousImage').on('click', function() {
    var newIndex = (currentImageIndex - 1 + images.length) % images.length; // wrap around to the end if necessary
    changeImage(newIndex);
  });

  $('#nextImage').on('click', function() {
    var newIndex = (currentImageIndex + 1) % images.length; // wrap around to the beginning if necessary
    changeImage(newIndex);
  });
});
</script>