<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" href="{% static 'images\favicon.ico' %}">
    <title>Banco de Proyectos</title>

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        
    <!-- Framework Gobierno Digital -->
    <link rel="stylesheet" href="http://cdn.digital.gob.cl/framework/css/gob.cl.css"/>
    <script rel="stylesheet" src="http://cdn.digital.gob.cl/framework/js/gob.cl.js"></script>
        
    <!-- font-awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet"/>

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">    
    <style> @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); </style>
    <style> @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap'); </style>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400"/>


    <link rel="stylesheet" href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css">
    <!-- Owl Carousel CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
    <!-- Magnific Popup CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css">
    <!-- jQuery Library-->
    <script src="https://owlcarousel2.github.io/OwlCarousel2/assets/vendors/jquery.min.js"></script>
    <!-- Owl Carousel JS-->
    <script src="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/owl.carousel.js"></script>
    <!-- Magnific Popup JS-->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js'></script> 


    <!-- app own CSS and JS -->
    <link type= "text/css" href="{% static 'styles\banco.css' %}" rel="stylesheet"/>
    <link type= "text/css" href="{% static 'styles\banco_proyectos.css' %}" rel="stylesheet"/>
    <link type= "text/css" href="{% static 'styles\timeline.css' %}" rel="stylesheet"/>
    <link type= "text/css" href="{% static 'styles\beforeafter.css' %}" rel="stylesheet"/>
    <link type= "text/css" href="{% static 'styles\carousel.css' %}" rel="stylesheet"/>
    <link type= "text/css" href="{% static 'styles\footer.css' %}" rel="stylesheet"/>
    <link type= "text/css" href="{% static 'styles\landing.css' %}" rel="stylesheet"/>


</head>
