{% load static %}
<nav class="navbar navbar-light navbar-expand-lg  navbar-lines">
  <div class="cols-12 column ">
    <a class="navbar-brand ml-3 " href="/">
        <div class="blue" ></div>
        <div class="red"></div>
        <p class="font-level-6 font-weight-bold mt-1">
        Subsecretaría de <br class="d-md-none"> Desarrollo <br class="d-none d-sm-none d-md-block"> Regional y <br
          class="d-sm-none"> Administrativo
      </p>
    </a>
  </div>
  <button class="navbar-toggler collapsed text-gray-600 " type="button" data-toggle="collapse"
    data-target="#navbarLightExampleCollapse" aria-controls="navbarCollapse" aria-expanded="false"
    aria-label="Toggle navigation">
    <u>Menú</u>
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="navbarLightExampleCollapse">
    <ul class="navbar-nav  mx-lg-5 my-lg-3 mx-lg-4 ">
        {% if user.is_authenticated %}
        {% if user.is_staff %}
      <li class="nav-item m-2 my-md-1">Hola, {{ user.nombres }}</li>
      <li class="nav-item my-1"><a class="btn btn-block btn-outline-primary mx-2"
          href="{% url 'users_app:admin-home' %}">Ir
          al admin</a></li>
      <li class="nav-item my-md-1"><a class="btn btn-block btn-outline-danger btn-cerrar-sesion mx-2"
          href="{% url 'users_app:user-logout' %}">Cerrar sesión</a></li>
      {% else %}
      <li class="nav-item mx-2 my-md-1">Hola, {{ user.nombres }}</li>
      <li class="nav-item my-1 "><a class="btn btn-block btn-primar mx-2"
          href="{% url 'users_app:user-logout' %}">Cerrar
          sesión</a></li>
      {% endif %}
      {% else %}
      <form method="GET" class="nav-item" action="{% url 'users_app:user-login' %}#inicio-sesion">
        <input id="next-url" type="hidden" name="next" value="">
        <button class="btn btn-block btn-primary mr-md-2" type="submit" onclick="setNextUrl()">
          <div class="doc-icon m-2"><span class="cl cl-claveunica"></span></div>
          Iniciar sesión
        </button>
      </form>
      {% endif %}
    </ul>
    <ul class="navbar-nav my-1 mr-5 d-none d-md-block">
      <form class="simple-search search" style="border: solid 1px #373737; width: 365px; height: 48px;"
        action="{% url 'projects_app:project-list' %}" id="search-form" action="{% url 'projects_app:project-list' %}"
        id="search-form">
        <div class="search-action" style="padding:4px; margin:0">
          <button class="btn btn-outline-search" id="searchLineAction" type="submit" style="border: 0; padding:4px"><i
              class="icon cl cl-search" style="color:#373737; border: 0"></i></button>
        </div>
        <input class="form-control" type="text" name="search" placeholder="Buscar" aria-label="search"
          aria-describedby="searchLineAction" style="border: 0" />
      </form>
    </ul>
    <ul class="navbar-nav align-self-start">
      <li class="nav-item"><a class="nav-link" href="{% url 'home_app:index' %}">Inicio</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarLinesLightExampleDropdown" href="#" role="button" 
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Banco de Proyectos</a>
        <div class="dropdown-menu" aria-labelledby="navbarLinesLightExampleDropdown">
          {% for program in programs %}
          <a class="dropdown-item" href="{% url 'projects_app:project-list' %}?program={{ program.id }}">{{ program.name
            }}</a>
          {% endfor %}
          <div class="dropdown-divider"></div>
          {% for type in types %}
          <a class="dropdown-item" href="{% url 'projects_app:project-list' %}?type={{ type.id }}">{{ type.name }}</a>
          {% endfor %}
        </div>
      <li class="nav-item"><a class="nav-link" href="{% url 'home_app:add-contact' %}">Contacto</a></li>
    </ul>
  </div>
</nav>

<script>
  function setNextUrl()
  {
    var currentUrl = window.location.href;
    var nextUrlInput = document.getElementById("next-url");
    nextUrlInput.value = currentUrl;
  }
</script>