.filter {
  width: 300px;
  height: auto;
  margin: 56px 28px 165px 100px;
  padding: 1px 15px 22px 15px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: solid 1px #3f87d0;
  background-color: #ffffff;
}

.filter-head {
  width: 266px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  margin: 0 6px 0 4px;
  padding: 12px 0;
}

.filter-program {
  width: 261px;
  height: 237px;
  margin: 8px 6px 0 0;
  padding: 9px 0 20px 1px;
}

.category-btns {
  width: 259px;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 20px 0 0 0;
  padding: 0;
}

.btn-clean-filter {
  width: 149.5px;
  height: 36px;
  flex-grow: 0;
  padding: 6px 18px 6px 10px;
  border-radius: 5px;
  border: solid 2px #871a1a;
  color: #871a1a;
  background-color: #ffffff;
}

.filter-location {
  width: 266px;
  height: auto;
  padding: 20px 0 66px;
}

.btn-filter {
  width: 266px;
  height: 40px;
  flex-grow: 0;
  padding: 8px 40px 8px 50px;
  background-color: #0f69c4;
  color: white;
}
