.image-container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

/* Tamaño para dispositivos extra pequeños (xs) */
.img-carousel {
    max-width: 155px;
    max-height: 155px;
    margin-right: 15px;
}

/* Media query para establecer flex-wrap en dispositivos extra pequeños (xs) */
@media (max-width: 576px) {
    .flex-wrap-xs {
        flex-wrap: wrap;
    }
    .flex-nowrap-xs {
        flex-wrap: nowrap;
    }
}

/* Tamaño para dispositivos pequeños (sm) */
@media (min-width: 576px) {
    .img-carousel {
        max-width: 155px;
        max-height: 155px;
        margin-right: 24px;
    }
}

/* Tamaño para dispositivos medianos (md) */
@media (min-width: 768px) {
    .img-carousel {
        max-width: 155px;
        max-height: 155px;
        margin-right: 24px;
    }
}

/* Tamaño para dispositivos grandes (lg) */
@media (min-width: 992px) {
    .img-carousel {
        max-width: 165px;
        max-height: 165px;
        margin-right: 26px;
    }
}

/* Tamaño para dispositivos extra grandes (xl) */
@media (min-width: 1200px) {
    .img-carousel {
        max-width: 200px;
        max-height: 200px;
        margin-right: 28px;
    }
}

.img-carousel::before {
    content: "";
    display: block;
    padding-top: 120%; /* Establece la relación de aspecto 1:1 (cuadrado) */
}

.img-carousel img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-portada {
    max-height: 450px;
    overflow: hidden;
    border-radius: 5px;
}

.image-portada img {
  width: 110%;
  height: 110%;
  object-fit: cover;
}

.carousel-item {
  position: relative;
}

.image-counter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%; /* covers the entire width of the parent */
  height: 100%; /* covers the entire height of the parent */
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: none; /* hidden by default, move this before display: flex; */
  display: flex; /* added for centering the text */
  justify-content: center; /* centers the text horizontally */
  align-items: center; /* centers the text vertically */
  font-size: 2em; /* increases the font size */
  pointer-events: none;
}