@import url('banco_proyectos.css');

.Frame-221 {
  width: 650px;
  height: 856px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 34px;
  margin: 70px 395px 242px;
  padding: 0;
}

.contact-box {
  width: 100%;
  height: 60px;
  padding: 15px 14px;
  border: solid 1px var(--color-gray-373737);
  background-color: var(--color-gray-ffffff);
}

.box-message{
    height: 180px
}

.contact-label {
    text-align: left;
    width: 100%;
    margin-bottom: 30px
}