

.title-hero-landing {
  display: flex;
  justify-self: center;
}

.text-hero-landing {
  width: 800px;
}


.line-height {
  line-height: 30px;
  font-weight: 500;
}


.section-card {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 70px 120px 2px;
  padding: 40px 0;
}





.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-ilus {
  height: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 0;
}

.group {
  width: 200px;
  height:auto;
  margin: 0 54px 25px 54.5px;
  padding: 5px 20px 0px 7px;
}

.circle {
  width: 200px;
  height: 200px;
  flex-grow: 0;
  border-radius: 99px;
  background-color: #9fc3e7;
}

.ilustra-1 {
  object-fit: cover;
  width: 200px;
  height: 200px;
  flex-grow: 0;
  border-radius: 50%;
  margin-bottom: -50px;
}

.ilustra-2 {
  object-fit: fill;
  width: 100%;
  height: 100%;
  flex-grow: 0;
  border-radius: 50%;
}

.ilustra-3 {
  object-fit: fill;
  width: 200px;
  height: 200px;
  flex-grow: 0;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card-text-landing {
  height: fit-content;
}

.text-end {
  height: 60px;
  align-self: stretch;
  flex-grow: 0;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #373737;
}

