.landing {
  width: 100vw;
  height: auto;
}

.container-category {
  width: 989px;
  height: 485px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  padding: 0;
}
.category {
  display: flex;
  justify-content: center;
}
.section-card {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 70px 120px 2px;
  padding: 40px 0;
}

.container-description {
  width: 1110px;
  height: 265px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 32px;
  padding: 0 65px 0 56px;
}
.text-description {
  height: 196px;
  align-self: stretch;
  flex-grow: 0;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #373737;
}

.container-cards {
  max-width: 100%;
  height: 485px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 70px;
  padding: 0 32px;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-ilus {
  height: 485px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 0;
}

.group-1 {
  width: 200px;
  height: 200px;
  margin: 0 53.8px 25px 54.5px;
  padding: 17px 0 0;
}

.group-2 {
  width: 200px;
  height: 200px;
  margin: 0 54.2px 25px 54.2px;
  padding: 5px 42.7px 0 7px;
}

.group-3 {
  width: 200px;
  height: 200px;
  margin: 0 54.5px 25px 53.8px;
  padding: 25px 0 0;
}

.circle {
  width: 200px;
  height: 200px;
  flex-grow: 0;
  border-radius: 99px;
  background-color: #9fc3e7;
}

.ilustra-1 {
  object-fit: cover;
  width: 200px;
  height: 200px;
  flex-grow: 0;
  border-radius: 50%;
  margin-bottom: -50px;
}

.ilustra-2 {
  object-fit: fill;
  width: 100%;
  height: 100%;
  flex-grow: 0;
  border-radius: 50%;
  margin-bottom: 10px;
}

.ilustra-3 {
  object-fit: fill;
  width: 200px;
  height: 200px;
  flex-grow: 0;
  border-radius: 50%;
  margin-bottom: 10px;
}

.title {
  height: 90px;
  align-self: stretch;
  flex-grow: 0;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #373737;
}

.text {
  height: 120px;
  align-self: stretch;
  flex-grow: 0;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: #373737;
}
.container-map {
  width: 1110px;
  height: 500px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 20px;
  padding: 10px 65px 10px 56px;
  margin-bottom: 20px;
}

.title-end {
  height: 49px;
  align-self: stretch;
  flex-grow: 0;
  font-family: Roboto;
  font-size: 40px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  margin-top: 20px;
  color: #373737;
}

.text-end {
  height: 60px;
  align-self: stretch;
  flex-grow: 0;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #373737;
}
.card-map {
  width: 1000px;
  height: 400px;
}

.map {
  width: 1000px;
  height: 350px;
}

