.container-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 100px 0px;
}
.line {
  width: 100px;
}

.brand-login {
  width: 300px;
  height: 80px;
  align-self: start;
}

.line-login {
  display: flex;
  align-self: start;
  flex-wrap: nowrap;
}

.blue-login {
  width: 58px;
  height: 8px;
  background-color: #0f69c4;
  left: 0;
  top: 0;
  bottom: 0;
}
.red-login {
  width: 82px;
  height: 8px;
  background-color: #e22c2c;
  top: 0;
  bottom: 0;
}

.card-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 570px;
  height: 620px;
  padding: 0 18px 10px 18px;
  border-radius: 20px;
  border: solid 1px rgba(0, 0, 0, 0.35);
}
.form-group-login {
  text-align: left;
  width: 100%;
  position: relative;
}
