.project-details {
  width: 100vw;
  height: auto;
}

.card-description {
  width: 1110px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 36px 0 36px 0;
  padding: 15px 15px 15px 15px;
  background-color: #eeeeee;
}

.images-project-detail {
  width: 1110px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  padding: 20px 50px;
}

.before-after {
  width: 1110px;
  height: 458px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 21px;
  margin: 31px 165px 47px;
  padding: 0;
}
.images-project-detail img {
  width: 500px;
  height: 390px;
  flex-grow: 0;
  border-radius: 5px;
}

.video-project {
  width: 1110px;
  height: 548px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  gap: 50px;
  margin: 47px 165px 42px;
  padding: 0 0 50px;
}

.table-details {
  width: 1108px;
  height: auto;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 5px 0;
  background-color: #ffffff;
}

.table-title {
  color: #ffffff;
  width: 1108px;
  height: auto;
  flex-grow: 0;
  padding: 12px 530px 14px 15px;
  background-color: rgb(15, 105, 196);
}

.line-grey {
  width: 100%;
  height: 2px;
  margin: 0 0 49px;
  background-color: #bbbbbb;
}

.related-projects-cards {
  display: flex;
}
