{% extends "users/base_users.html" %}
{% load static %} {% block content %}
{% include "modules/navbar.html" %}
<section class="home-admin h-auto">
  <div>
    <div class="title d-flex justify-content-center">
      <div class="line">
        <p class="h1 font-weight-bold ">Banco de Proyectos</p>
      </div>
    </div>
    <nav aria-label="breadcrumb">
      <ol class=" breadcrumb ml-5 pl-3">
        <li class="breadcrumb-item">
          <a href="{% url 'home_app:index' %}">Inicio</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          <a>Home Administrador</a>
        </li>

      </ol>
    </nav>
  </div>
  <div class="container-admin m-5">
    <div class="container">
      <div class="text-center">
        <span class="font-level-2 ">Hola, {{user.nombres}}</span>
        <p class="font-level-5 my-4">¿Qué necesitas hacer?</p>
      </div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mt-5 justify-content-center">
        <div class="col">
          <div class="card text-center p-3 border-primary">
            <span class="h5 card-function-title my-2 "><ins>Gestionar Usuarios</ins></span>
            <div class="card-body d-flex flex-column align-items-start mx-2">
              <p class="text-start"><i class="fa fa-check" aria-hidden="true"></i> Crear usuarios.</p>
              <p class="text-start"><i class="fa fa-check" aria-hidden="true"></i> Editar usuarios.</p>
            </div>
            <div class="card-function-title">
            </div>
            <a href="{% url 'users_app:user-register' %}" class="btn btn-primary btn-md  my-2 ">
              Ir a Gestión de Usuarios
            </a>
          </div>
        </div>
        <div class="col">
          <div class="card text-center p-3 border-primary ">
            <span class="h5 card-function-title  my-2 "><ins>Gestionar Proyectos</ins></span>
            <div class="card-body d-flex flex-column align-items-start mx-2">
              <p class="text-start"><i class="fa fa-check" aria-hidden="true"></i> Crear proyectos.</p>
              <p class="text-start"><i class="fa fa-check" aria-hidden="true"></i> Editar proyectos.</p>
            </div>
            <div class="card-function-title">
            </div>
            <a href="{% url 'admin:index' %}" class="btn btn-primary btn-md  my-2">
              Ir a Gestión de Proyectos
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
{% include "modules/footer.html" %}
{% endblock content %}