{% extends "home/base_home.html" %}
{% load static %}

{% block content %}

{% include "modules/navbar.html" %}
<section class="container-fluid mt-3 ">
    <div class="cols-12">
        <div class="row">
            <div class="col-12">
                <div class="title d-flex justify-content-center">
                    <div class="line">
                        <p class="h1 font-weight-bold">
                            Banco de <br class="d-block d-md-none" />
                            Proyectos
                        </p>
                    </div>
                </div>
                <div class="container-fluid">
                    <nav aria-label="breadcrumb ">
                        <ol class="breadcrumb ml-lg-5 pl-lg-5 pl-0">
                            <li class="breadcrumb-item">
                                <a href="{% url 'home_app:index' %}">Inicio</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Inicio de sesión <br> Portal Banco de Proyectos
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="container-login">
                <div class="d-flex justify-content-center">
                    <div class="d-flex justify-content-center border-fr-grey">
                        <div class="card-contact rounded m-5">
                            <p class="font-level-2 text-center m-3 font-weight-bold">Formulario de recuperación de clave
                            </p>

                            <h3>Hola {{ nombre }},</h3>

                            <p>Llegaste aquí por un correo que te enviamos a {{ email }} para recuperar tu contraseña de
                                Banco de Proyectos.</p>

                            <p>Te recordamos que por tu seguridad, tu contraseña debe tener: Al menos 8 caracterer,
                                números y letras, minúsculas y mayúsculas.</p>

                            <form id="contact-form" class="form cols-12 m-5 text-center" method="POST"
                                action="{% url 'users_app:password_reset_confirm' uidb64=uid token=token %}">
                                {% csrf_token %}
                                {{ form.non_field_errors }}

                                <div class="form-group-contact">
                                    <label for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label
                                        }}</label>
                                    <div class="input-with-toggle">
                                        <input type="password" name="{{ form.new_password1.html_name }}"
                                            id="{{ form.new_password1.id_for_label }}" class="custom-input" {% if
                                            form.new_password1.value %}value="{{ form.new_password1.value }}" {% endif
                                            %} {% if form.new_password1.field.disabled %}disabled{% endif %} {% if
                                            form.new_password1.field.required %}required{% endif %}>
                                        <button class="toggle-password" type="button">
                                            <img src="{% static 'images/Close_eye.svg' %}" alt="Toggle Password">
                                        </button>
                                    </div>
                                    {% for error in form.new_password1.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>

                                <div class="form-group-contact">
                                    <label for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label
                                        }}</label>
                                    <div class="input-with-toggle">
                                        <input type="password" name="{{ form.new_password2.html_name }}"
                                            id="{{ form.new_password2.id_for_label }}" class="custom-input" {% if
                                            form.new_password2.value %}value="{{ form.new_password2.value }}" {% endif
                                            %} {% if form.new_password2.field.disabled %}disabled{% endif %} {% if
                                            form.new_password2.field.required %}required{% endif %}>
                                        <button class="toggle-password" type="button">
                                            <img src="{% static 'images/Close_eye.svg' %}" alt="Toggle Password">
                                        </button>
                                    </div>
                                    {% for error in form.new_password2.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>


                                <div class="d-flex flex-column align-items-center">
                                    <button id="submitButton" type="submit" class="btn btn-primary btn-default-size"
                                        style="width: 100%">Recuperar contraseña</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "modules/footer.html" %}

<script>
    // Desplazamiento automático al elemento con ID "recuperacion" después de que se cargue la página
    window.onload = function ()
    {
        var element = document.getElementById('recuperacion');
        element.scrollIntoView({ behavior: 'smooth', block: 'start' });
    };
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function ()
    {
        // Ocultar el campo de contraseña al cargar la página
        $('input[type="password"]').attr('type', 'password');

        $('.toggle-password').click(function ()
        {
            var passwordInput = $(this).prev('input');
            var icon = $(this).find('img');

            if (passwordInput.attr('type') === 'password')
            {
                passwordInput.attr('type', 'text');
                icon.attr('src', '{% static 'images / Eye.svg' %}');
            } else
            {
                passwordInput.attr('type', 'password');
                icon.attr('src', '{% static 'images / Close_eye.svg' %}');
            }
        });
    });
</script>

{% endblock content %}