{% extends "home/base_home.html" %}
{% load static %}

{% block content %}

{% include "modules/navbar.html" %}
<section>
    <div class="m-5 ">
        <div class="title d-flex justify-content-center">
            <div class="line" id="recuperacion">
                <p class="h1 font-weight-bold ">Banco de Proyectos</p>
            </div>
        </div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb ml-5 pl-3">
                <li class="breadcrumb-item"><a href="{% url 'home_app:index' %}">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    Inicio de sesión Portal Banco de Proyectos
                </li>
            </ol>
        </nav>
    </div>

</section>

<section>
    <div class="container-login">
        <div class="d-flex justify-content-center">
            <div class="d-flex justify-content-center border-fr-grey">
                <div class="card-contact rounded m-5">
                    <p class="font-level-2 text-center m-3 font-weight-bold">Formulario de recuperación de clave</p>

                    <h3>Hola {{ nombre }},</h3>

                    <p>Llegaste aquí por un correo que te enviamos a {{ email }} para recuperar tu contraseña de Banco de Proyectos.</p>

                    <p>Te recordamos que por tu seguridad, tu contraseña debe tener: Al menos 8 caracterer, números y letras, minúsculas y mayúsculas.</p>

                    <form id="contact-form" class="form cols-12 m-5 text-center" method="POST" action="{% url 'users_app:password_reset_confirm' uidb64=uid token=token %}">
                        {% csrf_token %}
                        {{ form.non_field_errors }}

                        <div class="form-group-contact">
                            {{ form.new_password1.label_tag }}
                            {{ form.new_password1 }}
                            {% for error in form.new_password1.errors %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                        </div>

                        <div class="form-group-contact">
                            {{ form.new_password2.label_tag }}
                            {{ form.new_password2 }}
                            {% for error in form.new_password2.errors %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                        </div>

                        <div class="d-flex flex-column align-items-center">
                            <button id="submitButton" type="submit" class="btn btn-primary btn-default-size" style="width: 100%">Recuperar contraseña</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

{% include "modules/footer.html" %}

<script>
    // Desplazamiento automático al elemento con ID "inicio-sesion" después de que se cargue la página
    window.onload = function() {
        var element = document.getElementById('recuperacion');
        element.scrollIntoView({ behavior: 'smooth', block: 'start' });
    };
</script>

{% endblock content %}