{% extends "home/base_home.html" %}
{% load static %}

{% block content %}

{% include "modules/navbar.html" %}
<section class="container-fluid px-0  mt-3'">
    <div class="cols-12 ">
        <div class="row">
            <div class="col-12">
                <div class="title d-flex justify-content-center">
                    <div class="line">
                        <p class="h1 font-weight-bold">
                            Banco de <br class="d-block d-md-none" />
                            Proyectos
                        </p>
                    </div>
                </div>
                <div class="container-fluid">
                    <nav aria-label="breadcrumb ">
                        <ol class="breadcrumb ml-lg-5 pl-lg-5">
                            <li class="breadcrumb-item">
                                <a href="{% url 'home_app:index' %}">Inicio</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Inicio de sesión
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="d-flex flex-column align-items-center">
                <div class="container-register-users d-flex flex-column  m-5 w-50">
                    <div class="d-flex flex-column align-items-center">
                        <p class="register-user-success">Creaste tu nueva contraseña con éxito.<br>
                            La necesitarás cada vez que quieras iniciar sesión.</p>
                    </div>
                    <div class="d-flex flex-column align-items-center">
                        <button class="btn btn-primary btn-default-size" onclick="redireccionar()">Iniciar
                            sesión</button>
                    </div>

                </div>
            </div>

</section>

<script>
    function redireccionar()
    {
        window.location.href = "{% url 'users_app:user-login' %}";
    }
</script>

<script>
    // Desplazamiento automático al elemento con ID "inicio" después de que se cargue la página
    window.onload = function ()
    {
        var element = document.getElementById('inicio');
        element.scrollIntoView({ behavior: 'smooth', block: 'start' });
    };
</script>

{% include "modules/footer.html" %}
{% endblock content %}