<!-- head para PC -->
{% extends "users/base_users.html" %}
{% load static %}
{% block content %}
{% include "modules/navbar.html" %}

<section class="register-users">
    <div>
        <div class="title d-flex justify-content-center">
            <div class="line">
                <p class="h1 font-weight-bold ">Banco de Proyectos</p>
            </div>
        </div>
        <nav aria-label="breadcrumb">
            <ol class=" breadcrumb ml-5 pl-3">
                <li class="breadcrumb-item">
                    <a href="{% url 'home_app:index' %}">Inicio</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    <a href="{% url 'users_app:admin-home' %}">Home Administrador</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    <a>Gestion de Usuarios</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    <a>Crear usuario</a>
                </li>
            </ol>
        </nav>
    </div>
    <div class="d-flex flex-column align-items-center">
        <div class="container-register-users d-flex flex-column  m-5 w-50">
            <div class="d-flex flex-column align-items-center">
                <p class="register-user-success">Has creado al usuario exitosamente.</p>
            </div>
            <div class="d-flex flex-column align-items-center">
                    <button class="btn btn-primary btn-default-size" onclick="redireccionar()">Crear otro usuario</button>
                </div>

        </div>
    </div>
</section>

<script>
    function redireccionar() {
      window.location.href = "{% url 'users_app:user-register' %}";
    }
</script>

{% include "modules/footer.html" %}
{% endblock content %}