<!-- head para PC -->
{% extends "users/base_users.html" %}
{% load static %}
{% block content %}
{% include "modules/navbar.html" %}

<section class="register-users">
    <div>
        <div class="title d-flex justify-content-center">
            <div class="line">
                <p class="h1 font-weight-bold ">Banco de Proyectos</p>
            </div>
        </div>
        <nav aria-label="breadcrumb">
            <ol class=" breadcrumb ml-5 pl-3">
                <li class="breadcrumb-item">
                    <a href="{% url 'home_app:index' %}">Inicio</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    <a href="{% url 'users_app:admin-home' %}">Home Administrador</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    <a>Gestion de Usuarios</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    <a>Crear usuario</a>
                </li>
            </ol>
        </nav>
    </div>
    <div class="d-flex flex-column align-items-center">
        <div class="container-register-users d-flex flex-column  m-5 w-50">
            <div class="card-divider my-2 mx-5">
                <span class="font-level-2 ">Formulario de creación de usuario</s>
            </div>

            <form id="user-register-form" class="form cols-12 m-5 text-center" method="POST" action="{% url 'users_app:user-register' %}">
                {% csrf_token %}

                {% if form.non_field_errors %}
                    <div class="form-group-contact">
                        <ul class="errorlist">
                            {% for error in form.non_field_errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <div class="form-group-contact">
                    {{ form.rut.label_tag }}
                    {{ form.rut }}
                    {{ form.rut.errors }}
                </div>

                <div class="form-group-contact">
                    {{ form.nombres.label_tag }}
                    {{ form.nombres }}
                    {{ form.nombres.errors }}
                </div>

                <div class="form-group-contact">
                    {{ form.apellidos.label_tag }}
                    {{ form.apellidos }}
                    {{ form.apellidos.errors }}
                </div>

                <div class="form-group-contact">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                    {{ form.email.errors }}
                </div>

                <div class="col-12 my-3 ">
                    <span class="row justify-content-start">{{ form.is_staff.label_tag }}</span>
                    <div class="btn-group btn-group-toggle d-flex  justify-self-start col-6 pl-0" data-toggle="buttons">
                        {% for radio in form.is_staff %}
                        <label
                            class="btn btn-outline-primary my-3  mr-3 {% if radio.choice_value == form.is_staff.value %}active{% endif %}">
                            {{ radio.choice_label }}
                            {{ radio.tag }}
                        </label>
                        {% endfor %}
                        {{ form.is_staff.errors }}
                    </div>
                </div>

                <div class="form-group-contact">
                    {{ form.password1.label_tag }}
                    {{ form.password1 }}
                    {{ form.password1.errors }}
                </div>

                <div class="form-group-contact">
                    {{ form.password2.label_tag }}
                    {{ form.password2 }}
                    {{ form.password2.errors }}
                </div>

                <div class="d-flex flex-column align-items-center">
                    <button id="submitButton" type="submit" class="btn btn-primary btn-default-size" style="width: 100%">Crear
                        usuario</button>
                </div>
            </form>

        </div>
    </div>
</section>


{% include "modules/footer.html" %}
{% endblock content %}